<h1>New breaker</h1>

<% form_for(@breaker) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :node %><br />
    <%= f.text_field :node %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :parent_node %><br />
    <%= f.text_field :parent_node %>
  </p>
  <p>
    <%= f.label :parent_description %><br />
    <%= f.text_field :parent_description %>
  </p>
  <p>
    <%= f.label :volts %><br />
    <%= f.text_field :volts %>
  </p>
  <p>
    <%= f.label :amps %><br />
    <%= f.text_field :amps %>
  </p>
  <p>
    <%= f.label :measured_load %><br />
    <%= f.text_field :measured_load %>
  </p>
  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', breakers_path %>
