<%= form_for(@stream_method) do |f| %>
  <% if @stream_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stream_method.errors.count, "error") %> prohibited this stream_method from being saved:</h2>

      <ul>
      <% @stream_method.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :library %><br />
    <%= f.text_field :library %>
  </div>
<table border=1>
	<TR>
	<th><%= f.label :interface_code%></th>
	<th><%= f.label :return_code %></th>
	<th><%= f.label :rescue_code %></th>
	<TR>
	</tr>
	<% max_rows=[@stream_method.interface_code_rows,@stream_method.return_code_rows,@stream_method.rescue_code_rows].max %>
     	<td><%= f.text_area :interface_code,:rows=>max_rows,:cols=>[@stream_method.interface_code_cols+2,20].max %></td>
     	<td>   <%= f.text_area :return_code,:rows=>max_rows,:cols=>[@stream_method.return_code_cols+2,20].max %></td>
     	<td>   <%= f.text_area :rescue_code,:rows=>max_rows,:cols=>[@stream_method.rescue_code_cols+2,20].max %></td>
	</tr>
<% end %>
 <%= semantic_form_for @stream_method do |form| %>
    <%= form.buttons %>
<% end %>
