<h1>Listing ruby_interfaces</h1>

<table border=1>
  <tr>
    <th>Name</th>
    <th>Library</th>
    <th>Interface code</th>
    <th>Return code</th>
    <th>Rescue code</th>
    <th>Type</th>
    <th>Error Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stream_methods.each do |stream_method| %>
  <tr>
    <td><%= stream_method.name %></td>
    <td><%= stream_method.library %></td>
    <td>
     <%= render :partial => "shared/syntax_errors", :locals => { :code => stream_method.interface_code } %>
    </td>
    <td><%= render :partial => "shared/syntax_errors", :locals => { :code => stream_method.return_code } %></td>
    <td><%= render :partial => "shared/syntax_errors", :locals => { :code => stream_method.rescue_code } %></td>
    <td><%= stream_method.type %></td>
    <td><%= stream_method.errors.inspect %></td>
    <td><%= link_to 'Show', stream_method %></td>
    <td><%= link_to 'Edit', edit_stream_method_path(stream_method) %></td>
    <td><%= link_to 'Destroy', stream_method, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ruby interface', new_stream_method_path %>
