<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stream_method.name %>
</p>

<p>
  <b>Library:</b>
  <%= @stream_method.library %>
</p>

<p>
  <b>Interface code:</b>
     <%= render :partial => "shared/syntax_errors", :locals => { :code => @stream_method.interface_code } %>

<p>
  <b>Return code:</b>
     <%= render :partial => "shared/syntax_errors", :locals => { :code => @stream_method.return_code } %>
</p>

<p>
  <b>Rescue code:</b>
  <%= @stream_method.rescue_code %>
     <%= render :partial => "shared/syntax_errors", :locals => { :code => @stream_method.rescue_code } %>
</p>

<p>
  <b>Type:</b>
  <%= @stream_method.type %>
</p>


<%= link_to 'Edit', edit_stream_method_path(@stream_method) %> |
<%= link_to 'Back', stream_methods_path %>
