<p id="notice"><%= notice %></p>
 <%= render :partial =>"shared/error_messages.html.erb", :locals => { :record => @stream_method } %>
<%= render :partial =>'stream_methods/show_partial', :locals => { :@acquisition_stream_spec => @acquisition_stream_spec } %>

<p>
  <b>Id:</b>
  <%= @stream_method.id %>
</p>

<%= link_to 'Edit', edit_stream_method_path(@stream_method) %> |
<%= link_to 'Back', stream_methods_path %>
<% if @stream_method.association_has_data(:stream_method_arguments) then %>
<%= render :partial =>'stream_method_arguments/index_partial', :locals => { :@stream_method_arguments => @stream_method.stream_method_arguments } %>
<% else %>
<H1><B>No data in associaton. Listing all data of model.</B></H1>
<%= render :partial =>'stream_method_arguments/index_partial', :locals => { :@stream_method_arguments => StreamMethodArgument.all } %>
<% end #if %>
