<%= form_for(@stream_pattern_argument) do |f| %>
  <% if @stream_pattern_argument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stream_pattern_argument.errors.count, "error") %> prohibited this stream_pattern_argument from being saved:</h2>

      <ul>
      <% @stream_pattern_argument.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :stream_pattern_id %><br />
    <%= f.text_field :stream_pattern_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ruby_type %><br />
    <%= f.text_field :ruby_type %>
  </div>
  <div class="field">
    <%= f.label :direction %><br />
    <%= f.text_field :direction %>
  </div>
  <div class="field">
    <%= f.label :parameter_id %><br />
    <%= f.text_field :parameter_id %>
  </div>
  <div class="field">
    <%= f.label :parameter_type %><br />
    <%= f.text_field :parameter_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
