<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @stream_pattern_argument.id %>
</p>

<p>
  <b>Stream pattern:</b>
  <%= @stream_pattern_argument.stream_pattern_id %>
</p>

<p>
  <b>Name:</b>
  <%= @stream_pattern_argument.name %>
</p>

<p>
  <b>Ruby type:</b>
  <%= @stream_pattern_argument.ruby_type %>
</p>

<p>
  <b>Direction:</b>
  <%= @stream_pattern_argument.direction %>
</p>

<p>
  <b>Parameter:</b>
  <%= @stream_pattern_argument.parameter_id %>
</p>

<p>
  <b>Parameter type:</b>
  <%= @stream_pattern_argument.parameter_type %>
</p>


<%= link_to 'Edit', edit_stream_pattern_argument_path(@stream_pattern_argument) %> |
<%= link_to 'Back', stream_pattern_arguments_path %>
