<h1>New port</h1>

<% form_for(@port) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :protocol %><br />
    <%= f.text_field :protocol %>
  </p>
  <p>
    <%= f.label :port %><br />
    <%= f.text_field :port %>
  </p>
  <p>
    <%= f.label :portname %><br />
    <%= f.text_field :portname %>
  </p>
  <p>
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', ports_path %>
