<h1>Editing station</h1>

<% form_for(@station) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :dtv %><br />
    <%= f.text_field :dtv %>
  </p>
  <p>
    <%= f.label :antennatype %><br />
    <%= f.text_field :antennatype %>
  </p>
  <p>
    <%= f.label :call_sign %><br />
    <%= f.text_field :call_sign %>
  </p>
  <p>
    <%= f.label :channel %><br />
    <%= f.text_field :channel %>
  </p>
  <p>
    <%= f.label :network %><br />
    <%= f.text_field :network %>
  </p>
  <p>
    <%= f.label :city__state %><br />
    <%= f.text_field :city__state %>
  </p>
  <p>
    <%= f.label :livedate %><br />
    <%= f.text_field :livedate %>
  </p>
  <p>
    <%= f.label :compassheading %><br />
    <%= f.text_field :compassheading %>
  </p>
  <p>
    <%= f.label :milesfrom %><br />
    <%= f.text_field :milesfrom %>
  </p>
  <p>
    <%= f.label :rfchannel %><br />
    <%= f.text_field :rfchannel %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @station %> |
<%= link_to 'Back', stations_path %>
