<p>
  <b>Dtv:</b>
  <%=h @station.dtv %>
</p>

<p>
  <b>Antennatype:</b>
  <%=h @station.antennatype %>
</p>

<p>
  <b>Call sign:</b>
  <%=h @station.call_sign %>
</p>

<p>
  <b>Channel:</b>
  <%=h @station.channel %>
</p>

<p>
  <b>Network:</b>
  <%=h @station.network %>
</p>

<p>
  <b>City  state:</b>
  <%=h @station.city__state %>
</p>

<p>
  <b>Livedate:</b>
  <%=h @station.livedate %>
</p>

<p>
  <b>Compassheading:</b>
  <%=h @station.compassheading %>
</p>

<p>
  <b>Milesfrom:</b>
  <%=h @station.milesfrom %>
</p>

<p>
  <b>Rfchannel:</b>
  <%=h @station.rfchannel %>
</p>


<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
