<h1>Listing acquisition_stream_specs</h1>
<table border=1>
  <tr>
    <th>Acquisition interface</th>
    <th>Url</th>
    <th>Table spec</th>
    <th>Required order</th>
  </tr>

<% for acquisition_stream_spec in @acquisition_stream_specs %>
  <tr>
    <td>
    <%=acquisition_stream_spec.class.noninherited_modules.inspect %>
    <%=acquisition_stream_spec.matching_methods(/assoc/,true).inspect %>
    < %=acquisition_stream_spec.association_state(:acquisition_interface) %>
    < %=h acquisition_stream_spec.associated_to_s(:acquisition_interface,:name) %></td>
    <td><%=h acquisition_stream_spec.url %></td>
    <td><%=h acquisition_stream_spec.table_spec_id %></td>
    <td><%=h acquisition_stream_spec.required_order %></td>
    <td><%= link_to 'Show', acquisition_stream_spec %></td>
    <td><%= link_to 'Edit', edit_acquisition_stream_spec_path(acquisition_stream_spec) %></td>
    <td><%= link_to 'Destroy', acquisition_stream_spec, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New acquisition_stream_spec', new_acquisition_stream_spec_path %>
<BR>
<%= link_to 'URI definition','https://github.com/GregLawson/Open-Table-Explorer/wiki/URLs' %>