 <p>
  <b>Id:</b>
  <%=h @acquisition_stream_spec.id %>
</p>

<p>
  <b>Url:</b>
  <%=h @acquisition_stream_spec.url %>
</p>

<p>
  <b>Table spec:</b>
  <%=h @acquisition_stream_spec.table_spec_id %>
</p>
<p>
  <b>Table_spec:</b>
  <%=h @acquisition_stream_spec.associated_to_s(:table_spec,:model_class_name) %>
</p>


<p>
  <b>Required order:</b>
  <%=h @acquisition_stream_spec.required_order %>
</p>

<p>
  <b>uriHash:</b>
  <%=h @acquisition_stream_spec.uriHash.inspect %>
</p>

<p>
  <b>scheme:</b>
  <%=h @acquisition_stream_spec.scheme %>
</p>

<p>
  <b>Acquisition interface:</b>
  < %=h @acquisition_stream_spec.associated_to_s(:acquisition_interface,:name) %>
</p>



<%= link_to 'Edit', edit_acquisition_stream_spec_path(@acquisition_stream_spec) %> |
<%= link_to 'Back', acquisition_stream_specs_path %>
