<h1>Editing acquisition_stream_spec</h1>

<%= form_for(@acquisition_stream_spec) do |f| %>
   f.error_messages 

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :acquisition_interface %><br />
    <%= f.text_field :acquisition_interface %>
  </p>
  <p>
    <!-- rest of form -->
    <%= f.label :url %><br />
  %= f.collection_select(:AcquisitionInterface_Id,AcquisitionInterface.all,:id, :name) %
    : <%= f.text_field :AcquisitionInterface_Id %>    : <%= f.text_field :url %>
  </p>
  <p>
</P>
  <p>
    <%= f.label :table_spec_id %><br />
    <%= f.text_field :table_spec_id %>
  </p>
  <p>
    <%= f.label :required_order %><br />
    <%= f.text_field :required_order %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @acquisition_stream_spec %> |
<%= link_to 'Back', acquisition_stream_specs_path %>
