<h1>Editing acquisition_stream_spec</h1>
 <% semantic_form_for @acquisition_stream_spec do |form| %>
    <%= form.inputs %>
    <%= form.buttons %>
  <% end %>

<%= form_for(@acquisition_stream_spec) do |f| %>
   f.error_messages 

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
   <p>
    <%= f.label :acquisition_interface_id %><br />
	<%= collection_select(:acquisition_stream_spec,:acquisition_interface_id,AcquisitionInterface.all, :id, :name) %>
  </p>
    <%= f.label :url %><br />
	<%= f.text_field :url %>
  </p>
  
<p>
    <%= f.label :table_spec_id %><br />
    <%= f.text_field :table_spec_id %>
  </p>
    <p>
    <%= f.label :table_spec_id %><br />
	<%= collection_select(:acquisition_stream_spec,:table_spec_id,TableSpec.all, :id, :model_class_name) %>
  </p>
 <p>
    <%= f.label :required_order %><br />
    <%= f.text_field :required_order %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @acquisition_stream_spec %> |
<%= link_to 'Back', acquisition_stream_specs_path %>
