 <%= render :partial =>"shared/error_messages.html.erb", :locals => { :record => @acquisition_stream_spec } %>
<%= render :partial =>'acquisition_stream_specs/show_partial', :locals => { :@acquisition_stream_spec => @acquisition_stream_spec } %>
<p>
  <b>Acquisition interface:</b>
  <%=h @acquisition_stream_spec.associated_to_s(:acquisition_interface,:name) %>
</p>
<p>
  <b>Acquisition interface:</b>
  <%=h @acquisition_stream_spec.association_state(:acquisition_interface) %>
</p>
<% if @acquisition_stream_spec.association_has_data(:acquisition_interface) then %>
<%= render :partial =>'ruby_interfaces/show_partial', :locals => { :@ruby_interface => @acquisition_stream_spec.acquisition_interface } %>
<% end #if %>



<%= link_to 'Edit', edit_acquisition_stream_spec_path(@acquisition_stream_spec) %> |
<%= link_to 'Back', acquisition_stream_specs_path %>
