<h1>Listing nodes</h1>

<table>
  <tr>
    <th>Node</th>
    <th>Description</th>
    <th>Parent node</th>
    <th>Parent description</th>
    <th>Id</th>
  </tr>

<% for node in @nodes %>
  <tr>
    <td><%=h node.node %></td>
    <td><%=h node.description %></td>
    <td><%=h node.parent_node %></td>
    <td><%=h node.parent_description %></td>
    <td><%=h node.id %></td>
    <td><%= link_to 'Show', node %></td>
    <td><%= link_to 'Edit', edit_node_path(node) %></td>
    <td><%= link_to 'Destroy', node, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New node', new_node_path %>
