<%= form_for(@scalar_argument) do |f| %>
  <% if @scalar_argument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scalar_argument.errors.count, "error") %> prohibited this scalar_argument from being saved:</h2>

      <ul>
      <% @scalar_argument.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :formula %><br />
    <%= f.text_field :formula %>
  </div>
  <div class="field">
    <%= f.label :ruby_type %><br />
    <%= f.text_field :ruby_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
