<p id="notice"><%= notice %></p>

<p>
  <b>Href:</b>
  <%= @url.href %>
</p>

<p>
  <b>Url:</b>
  <%= @url.url %>
</p>

<p>
  <b>Cache path:</b>
  <%= @url.cache_path %>
</p>

<p>
  <b>Last cache:</b>
  <%= @url.last_cache %>
</p>

<p>
  <b>Error:</b>
  <%= @url.error %>
</p>

<p>
  <b>Context:</b>
  <%= @url.context %>
</p>


<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
