<%= form_for(@stream_parameter) do |f| %>
  <% if @stream_parameter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stream_parameter.errors.count, "error") %> prohibited this stream_parameter from being saved:</h2>

      <ul>
      <% @stream_parameter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :stream_method_call_id %><br />
    <%= f.text_field :stream_method_call_id %>
  </div>
  <div class="field">
    <%= f.label :stream_method_argument_id %><br />
    <%= f.text_field :stream_method_argument_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
