<h1>Listing stream_parameters</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Stream method call</th>
    <th>Stream method argument</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stream_parameters.each do |stream_parameter| %>
  <tr>
    <td><%= stream_parameter.id %></td>
    <td><%= stream_parameter.stream_method_call_id %></td>
    <td><%= stream_parameter.stream_method_argument_id %></td>
    <td><%= link_to 'Show', stream_parameter %></td>
    <td><%= link_to 'Edit', edit_stream_parameter_path(stream_parameter) %></td>
    <td><%= link_to 'Destroy', stream_parameter, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stream parameter', new_stream_parameter_path %>
