<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @stream_parameter.id %>
</p>

<p>
  <b>Stream method call:</b>
  <%= @stream_parameter.stream_method_call_id %>
</p>

<p>
  <b>Stream method argument:</b>
  <%= @stream_parameter.stream_method_argument_id %>
</p>


<%= link_to 'Edit', edit_stream_parameter_path(@stream_parameter) %> |
<%= link_to 'Back', stream_parameters_path %>
