<h1>Editing network</h1>
  <% semantic_form_for @network do |form| %>
    <%= form.inputs %>
    <%= form.buttons %>
  <% end %>

<% form_for(@network) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nmap_addresses %><br />
    <%= f.text_field :nmap_addresses %>
  </p>
  <p>
    <%= f.label :last_scan %><br />
    <%= f.datetime_select :last_scan %>
  </p>
  <p>
    <%= f.label :nmap_exection_time %><br />
    <%= f.text_field :nmap_exection_time %>
  </p>
  <p>
    <%= f.label :expanded %><br />
    <%= f.check_box :expanded %>
  </p>
  <p>
    <%= f.label :nmap_execution_time %><br />
    <%= f.text_field :nmap_execution_time %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @network %> |
<%= link_to 'Back', networks_path %>
