<h1>Listing ofxes</h1>

<table>
  <tr>
    <th>Cuisp</th>
    <th>Units</th>
    <th>Unit price</th>
    <th>Total</th>
    <th>Account number</th>
    <th>Trade date</th>
    <th>Settle date</th>
    <th>Memo</th>
    <th>Direction</th>
    <th>Transfer type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ofxes.each do |ofx| %>
  <tr>
    <td><%= ofx.cuisp %></td>
    <td><%= ofx.units %></td>
    <td><%= ofx.unit_price %></td>
    <td><%= ofx.total %></td>
    <td><%= ofx.account_number %></td>
    <td><%= ofx.trade_date %></td>
    <td><%= ofx.settle_date %></td>
    <td><%= ofx.memo %></td>
    <td><%= ofx.direction %></td>
    <td><%= ofx.transfer_type %></td>
    <td><%= link_to 'Show', ofx %></td>
    <td><%= link_to 'Edit', edit_ofx_path(ofx) %></td>
    <td><%= link_to 'Destroy', ofx, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ofx', new_ofx_path %>
