<p id="notice"><%= notice %></p>

<p>
  <b>Cuisp:</b>
  <%= @ofx.cuisp %>
</p>

<p>
  <b>Units:</b>
  <%= @ofx.units %>
</p>

<p>
  <b>Unit price:</b>
  <%= @ofx.unit_price %>
</p>

<p>
  <b>Total:</b>
  <%= @ofx.total %>
</p>

<p>
  <b>Account number:</b>
  <%= @ofx.account_number %>
</p>

<p>
  <b>Trade date:</b>
  <%= @ofx.trade_date %>
</p>

<p>
  <b>Settle date:</b>
  <%= @ofx.settle_date %>
</p>

<p>
  <b>Memo:</b>
  <%= @ofx.memo %>
</p>

<p>
  <b>Direction:</b>
  <%= @ofx.direction %>
</p>

<p>
  <b>Transfer type:</b>
  <%= @ofx.transfer_type %>
</p>


<%= link_to 'Edit', edit_ofx_path(@ofx) %> |
<%= link_to 'Back', ofxes_path %>
