<h1>New edison</h1>

<% form_for(@edison) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :CANUM %><br />
    <%= f.text_field :CANUM %>
  </p>
  <p>
    <%= f.label :SANUM %><br />
    <%= f.text_field :SANUM %>
  </p>
  <p>
    <%= f.label :READDATE %><br />
    <%= f.date_select :READDATE %>
  </p>
  <p>
    <%= f.label :KHWREAD %><br />
    <%= f.text_field :KHWREAD %>
  </p>
  <p>
    <%= f.label :kwhusage %><br />
    <%= f.text_field :kwhusage %>
  </p>
  <p>
    <%= f.label :Days %><br />
    <%= f.text_field :Days %>
  </p>
  <p>
    <%= f.label :AVGDAILY %><br />
    <%= f.text_field :AVGDAILY %>
  </p>
  <p>
    <%= f.label :TOTCHARGES %><br />
    <%= f.text_field :TOTCHARGES %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', edisons_path %>
