<p>
  <b>Canum:</b>
  <%=h @edison.CANUM %>
</p>

<p>
  <b>Sanum:</b>
  <%=h @edison.SANUM %>
</p>

<p>
  <b>Readdate:</b>
  <%=h @edison.READDATE %>
</p>

<p>
  <b>Khwread:</b>
  <%=h @edison.KHWREAD %>
</p>

<p>
  <b>Kwhusage:</b>
  <%=h @edison.kwhusage %>
</p>

<p>
  <b>Days:</b>
  <%=h @edison.Days %>
</p>

<p>
  <b>Avgdaily:</b>
  <%=h @edison.AVGDAILY %>
</p>

<p>
  <b>Totcharges:</b>
  <%=h @edison.TOTCHARGES %>
</p>


<%= link_to 'Edit', edit_edison_path(@edison) %> |
<%= link_to 'Back', edisons_path %>
