<h1>Listing params</h1>

<table border=1>
  <tr>
    <th>Parameter</th>
    <th>Import type</th>
    <th>Value</th>
    <th>Formula</th>
  </tr>

<% for param in @params %>
  <tr>
    <td><%=h param.parameter %></td>
    <td><%=h param.import_type %></td>
    <td><%=h param.value %></td>
    <td><%=h param.formula %></td>
    <td><%= link_to 'Show', param %></td>
    <td><%= link_to 'Edit', edit_param_path(param) %></td>
    <td><%= link_to 'Destroy', param, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New param', new_param_path %>
