<h1>Editing generic_column</h1>
  <% semantic_form_for @generic_column do |form| %>
    <%= form.inputs %>
    <%= form.buttons %>
  <% end %>

<% form_for(@generic_column) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Table_Name %><br />
    <%= f.text_field :Table_Name %>
  </p>
  <p>
    <%= f.label :Column_Name %><br />
    <%= f.text_field :Column_Name %>
  </p>
  <p>
    <%= f.label :Before_Pattern %><br />
    <%= f.text_field :Before_Pattern %>
  </p>
  <p>
    <%= f.label :Data_Pattern %><br />
    <%= f.text_field :Data_Pattern %>
  </p>
  <p>
    <%= f.label :After_Pattern %><br />
    <%= f.text_field :After_Pattern %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @generic_column %> |
<%= link_to 'Back', generic_columns_path %>
