<p>
  <b>Table name:</b>
  <%=h @generic_column.Table_Name %>
</p>

<p>
  <b>Column name:</b>
  <%=h @generic_column.Column_Name %>
</p>

<p>
  <b>Before pattern:</b>
  <%=h @generic_column.Before_Pattern %>
</p>

<p>
  <b>Data pattern:</b>
  <%=h @generic_column.Data_Pattern %>
</p>

<p>
  <b>After pattern:</b>
  <%=h @generic_column.After_Pattern %>
</p>


<%= link_to 'Edit', edit_generic_column_path(@generic_column) %> |
<%= link_to 'Back', generic_columns_path %>
