<p>
  <b>Node:</b>
  <%=h @wired_location.node %>
</p>

<p>
  <b>Description:</b>
  <%=h @wired_location.description %>
</p>

<p>
  <b>Parent node:</b>
  <%=h @wired_location.parent_node %>
</p>

<p>
  <b>Parent description:</b>
  <%=h @wired_location.parent_description %>
</p>

<p>
  <b>Room:</b>
  <%=h @wired_location.room %>
</p>

<p>
  <b>Wall:</b>
  <%=h @wired_location.wall %>
</p>

<p>
  <b>Type:</b>
  <%=h @wired_location.type %>
</p>

<p>
  <b>Ground test light:</b>
  <%=h @wired_location.ground_test_light %>
</p>

<p>
  <b>Id:</b>
  <%=h @wired_location.id %>
</p>


<%= link_to 'Edit', edit_wired_location_path(@wired_location) %> |
<%= link_to 'Back', wired_locations_path %>
