<h1>Listing routers</h1>

<table>
  <tr>
    <th>Model</th>
    <th>Version</th>
    <th>Serial number</th>
    <th>Wan mac</th>
    <th>Status</th>
    <th>Power supply</th>
  </tr>

<% for router in @routers %>
  <tr>
    <td><%=h router.Model %></td>
    <td><%=h router.Version %></td>
    <td><%=h router.Serial_Number %></td>
    <td><%=h router.WAN_MAC %></td>
    <td><%=h router.Status %></td>
    <td><%=h router.Power_Supply %></td>
    <td><%= link_to 'Show', router %></td>
    <td><%= link_to 'Edit', edit_router_path(router) %></td>
    <td><%= link_to 'Destroy', router, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New router', new_router_path %>
