<p>
  <b>Model:</b>
  <%=h @router.Model %>
</p>

<p>
  <b>Version:</b>
  <%=h @router.Version %>
</p>

<p>
  <b>Serial number:</b>
  <%=h @router.Serial_Number %>
</p>

<p>
  <b>Wan mac:</b>
  <%=h @router.WAN_MAC %>
</p>

<p>
  <b>Status:</b>
  <%=h @router.Status %>
</p>

<p>
  <b>Power supply:</b>
  <%=h @router.Power_Supply %>
</p>


<%= link_to 'Edit', edit_router_path(@router) %> |
<%= link_to 'Back', routers_path %>
