<p id="notice"><%= notice %></p>
 <%= render :partial =>"shared/error_messages.html.erb", :locals => { :record => @stream_method_argument } %>
<%= render :partial =>'stream_method_arguments/show_partial', :locals => { :@stream_method_argument => @stream_method_argument } %>
<% if @stream_method_argument.association_has_data(:stream_methods) then %>
<%= render :partial =>'stream_methods/show_partial', :locals => { :@stream_method => @stream_methods.stream_method } %>
<% end #if %>



<%= link_to 'Edit', edit_acquisition_stream_spec_path(@stream_method_argument) %> |
<%= link_to 'Back', acquisition_stream_specs_path %>
