<%= form_for(@error_type) do |f| %>
  <% if @error_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@error_type.errors.count, "error") %> prohibited this error_type from being saved:</h2>

      <ul>
      <% @error_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% semantic_form_for @error_type do |form| %>
    <%= form.inputs %>
    <%= form.buttons %>
  <% end %>

  <div class="field">
    <%= f.label :error_type %><br />
    <%= f.text_field :error_type %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
