  <% if @ruby_interface.no_syntax_error?(@ruby_interface.interface_code) then %>
 <%= render "shared/multi-line.html.erb" %>
  <% else %>
 <TABLE BORDER=1>
  <% @ruby_interface.interface_code.split(/\n/).map do |l| %>
  <TR>
   <TD>
  <%=  l %>
  </TD>
   <TD>
  <%= @ruby_interface.syntax_error(l)  %>
  </TD>
   <TD>
  <%= @ruby_interface.syntax_error(@ruby_interface.interface_code)  %>
  </TD>
   <TD>
  <%= @ruby_interface.syntax_error(@ruby_interface.interface_code.split(/\n/).join("\n"))  %>
  </TD>
 </TR>
  <% end #map %>
</p>
  </TABLE>
  <% end %>
