  <% if Generic_Table.no_syntax_error?(code) then %>
 <%= render :partial =>"shared/multi-line.html.erb", :locals => { :code => code } %>
  <% else %>
 <TABLE BORDER=1>
  <% code.split(/\n/).map do |l| %>
  <TR>
   <TD>
  <%=  l %>
  </TD>
   <TD>
  <%= Generic_Table.syntax_error(l)  %>
  </TD>
   <TD>
  <%= Generic_Table.syntax_error(code)  %>
  </TD>
   <TD>
  <%= Generic_Table.syntax_error(code.split(/\n/).join("\n"))  %>
  </TD>
 </TR>
  <% end #map %>
</p>
  </TABLE>
  <% end %>
