<h1>Listing frequencies</h1>

<table>
  <tr>
    <th>Frequency name</th>
    <th>Min seconds</th>
    <th>Max seconds</th>
    <th>Scheduled time</th>
    <th>Id</th>
    <th>Interval</th>
    <th>Shortest update</th>
    <th>Longest no update</th>
  </tr>

<% for frequency in @frequencies %>
  <tr>
    <td><%=h frequency.frequency_name %></td>
    <td><%=h frequency.intervalString(frequency.min_seconds) %></td>
    <td><%=h frequency.intervalString(frequency.max_seconds) %></td>
    <td><%=h frequency.scheduled_time %></td>
    <td><%=h frequency.id %></td>
    <td><%=h frequency.intervalString(frequency.interval) %></td>
    <td><%=h frequency.intervalString(frequency.shortest_update) %></td>
    <td><%=h frequency.intervalString(frequency.longest_no_update) %></td>
    <td><%= link_to 'Show', frequency %></td>
    <td><%= link_to 'Edit', edit_frequency_path(frequency) %></td>
    <td><%= link_to 'Destroy', frequency, :confirm => 'Are you sure?', :method => :delete %></td>
	<td><%= link_to "updated?", "" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New frequency', new_frequency_path %>
