<h1>Greg's Home Page</h1>
<table border=2>
<tr>
<td>Specifications</td>
<td><%=link_to "Acquisition Interfaces",acquisition_interfaces_path %></td>
<td><%=link_to "Frequencies",frequencies_path %></td>
<td><%=link_to "Table specs",table_specs_path %></td>
<td><%= link_to "Acquisition Stream Spec", acquisition_stream_specs_path %></td>
<td><%= link_to "Generic Types", generic_types_path %></td>
<td><%= link_to "Example Types", example_types_path %></td>
<td><%= link_to "Parse Specs", parse_specs_path %></td>
</tr>
<tr>
<td>Environment</td>
<td><%= link_to "Hosts", hosts_path %></td>
<td><%= link_to "Acquisitions",acquisitions_path %></td>
<td><%= link_to "Routers",routers_path %></td>
</tr>
<tr>
<td>Energy</td>
<td><%= link_to "Nodes",nodes_path %></td>
<td><%= link_to "Breakers",breakers_path %></td>
<td><%= link_to "Measurements",measurements_path %></td>
<td><%= link_to "Wired_locations",wired_locations_path %></td>
<td><%= link_to "Loads",loads_path %></td>
<td><%= link_to "Solar Producton FTP",production_ftps_path %></td>
<td></td>
</tr>
<tr>
<td>Financial</td>
<td><%= link_to "Accounts",accounts_path %></td>
<td><%= link_to "Transfers",transfers_path %></td>
<td><%= link_to "Transactions",transactions_path %></td>
<td></td>
</tr>
<tr>
<td>Huell Howser</td>
<td><%= link_to "Huell Shows","huelshows" %></td>
<td><%= link_to "Huell Series","huelseries" %></td>
<td></td>
</tr>
<tr>
<td>Live Source Data</td>
<td><%= link_to "TED data 193", "http://192.168.3.193/api/LiveData.xml" %></td>
<td><%= link_to "TED data 194", "http://192.168.3.194/api/LiveData.xml" %></td>
<td><%= link_to "Sunny Boy Inverter data 136", "http://192.168.3.136" %></td>
<td><%= link_to "Sunny Boy Inverter data 137", "http://192.168.3.137" %></td>
<td><%= link_to "LAX data", "http://www.weather.gov/xml/current_obs/KLAX.xml" %></td>
<td><%= link_to "Hawthorne data", "http://www.weather.gov/xml/current_obs/KHHR.xml" %></td>
<td><%= link_to "Edison", "http://www.sce.com" %> Use firefox. Account=Greg_Lawson</td>
</tr>
<tr>
<td>URLs</td>
<td><%= link_to "URLs",urls_path %></td>
<td><%= link_to "Bugs",bugs_path %></td>
</tr>
<tr>
<td>Documentation</td>
<td><A HREF="http://sourceforge.net/search/?type_of_search=soft&words=Home+energy+explorer&search=Search">Related projects<A></td>
<td><A HREF="images/Electronics.html">Electronic Datasheets</A></td>
<td><A HREF="images/AVR.html">AVR</A></td>
<td></td>
</tr>
</table>
<p>Find me in app/views/home/index.html.erb</p>
<div><b>Past (Memory)</b><br>
<div style="margin-left: 2em">
<b>Data Sources</b><br>
<div style="margin-left: 2em">
<b>Historical</b><br>
<div style="margin-left: 2em">
<b>TV Shows</b><br>
<div style="margin-left: 2em">
<b>Huel</b><br>
<div style="margin-left: 2em">
<a href="http://www.calgold.com/calgold/">Huell Howser Productions | California's Gold</a><br>
<a href="http://en.wikipedia.org/wiki/Huell_Howser">Huell Howser - Wikipedia, the free encyclopedia</a><br>
<a href="http://www.calgold.com/Schedule.asp">calgold Schedule</a><br>
</div>
<b>Perry Mason</b><br>
<div style="margin-left: 2em">
<a href="http://www.google.com/search?hl=en&q=site%3Ahttp%3A%2F%2Fwww.storrer.com%2F+nATHAN+cLAVER+south+american+Rio&aq=f&aqi=&aql=&oq=&gs_rfai=">site:http://www.storrer.com/ nATHAN cLAVER south american Rio - Google Search</a><br>
<a href="http://www.storrer.com/masongardner/pmesgnine.html#Candy%20Queen">pmesgnine.html+</a><br>
<a href="http://www.storrer.com/masongardner/pmesgoneone.html">pmesgoneone</a><br>
<a href="http://www.storrer.com/masongardner/pmesgfive.html">pmesgfive</a><br>
</div>
</div>
</div>
</div>
<b>History</b><br>
<div style="margin-left: 2em">
<a href="http://en.wikipedia.org/wiki/USS_General_J._C._Breckinridge_(T-AP-176)">USS General J. C. Breckinridge (AP-176) - Wikipedia, the free encyclopedia</a><br>
<a href="http://www.hazegray.org/danfs/auxil/ap176.htm">General J.C. Breckinridge (AP 176)</a><br>
</div>
<b>Documentation</b><br>
<div style="margin-left: 2em">
<b>HTML</b><br>
<div style="margin-left: 2em">
<a href="http://www.somacon.com/p141.php">HTML and CSS Table Border Style Wizard</a><br>
</div>
<a href="https://github.com/GregLawson/Open-Table-Explorer/wiki/_new?wiki%5Bname%5D=1.6%20Business%20Models">Create New Page - GitHub</a><br>
<b>Presentations</b><br>
<div style="margin-left: 2em">
<a href="http://shallowsky.com/linux/LinuxPresentations.html">Linux for Presentations</a><br>
</div>
<b>Hardware</b><br>
<div style="margin-left: 2em">
<b>TED & WebBox</b><br>
<div style="margin-left: 2em">
<a href="http://www.theenergydetective.com/what/install.html">T.E.D. : Simple installation, installation instructions, circuit breaker panel, electric panel</a><br>
<a href="http://www.theenergydetective.com/store">T.E.D. : Store</a><br>
<a href="http://www.theenergydetective.com/ted-5000-overview.html">T.E.D. : TED 5000 Overview</a><br>
<a href="http://192.168.2.143/api/LiveData.xml">TED5000 API</a><br>
<a href="http://www.sunnyportal.com/Templates/Start.aspx">SMA Solar Technology AG - SunnyPortal</a><br>
<a href="http://192.168.1.251/">Sunny WebBox</a><br>
<a href="http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KCAHAWTH2">Weather Station History : Weather Underground</a><br>
<a href="http://api.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KCAHAWTH2&format=XML">Weather Station History : Weather Underground</a><br>
<a href="http://www.wunderground.com/history/airport/KLAX/2010/2/2/DailyHistory.html?req_city=NA&req_state=NA&req_statename=NA&format=1">http://www.wunderground.com/history/airport/KLAX/2010/2/2/DailyHistory.html</a><br>
<a href="http://www.wunderground.com/metarFAQ.asp?MR=1">Metar Tutorial : Weather Underground</a><br>
<a href="http://www.wunderground.com/cgi-bin/findweather/hdfForecast?query=90250&MR=1">Hawthorne, California (90250) Conditions & Forecast : Weather Underground</a><br>
<a href="http://www.airnow.gov/index.cfm?action=airnow.local_city&cityid=341">AIRNow - Central Coastal, CA Air Quality</a><br>
<a href="http://www.weather.gov/view/national.php?prodtype=ultraviolet">National Data - NOAA's National Weather Service</a><br>
<a href="http://www.cpc.ncep.noaa.gov/products/stratosphere/uv_index/bulletin.txt">http://www.cpc.ncep.noaa.gov/products/stratosphere/uv_index/bulletin.txt</a><br>
<a href="http://www.weather.gov/view/national.php?prodtype=ultraviolet">National Data - NOAA's National Weather Service</a><br>
<a href="http://www.cpc.ncep.noaa.gov/products/stratosphere/uv_index/gif_files/lax_09.png">PNG Image - 680x500 Pixels</a><br>
</div>
<a href="http://www.smileymicros.com/download/Butterfly%20Carrier%20Assembly.pdf">http://www.smileymicros.com/download/Butterfly Carrier Assembly.pdf</a><br>
<a href="http://www.seeedstudio.com/depot/fusion-pcb-service-p-835.html">Fusion PCB Service [PCB08511P] - $9.90 : Seeed Studio Bazaar, Boost ideas, extend the reach</a><br>
<b>AVR</b><br>
<div style="margin-left: 2em">
<a href="http://www.atmel.com/dyn/products/tools.asp?family_id=682">Atmel Products - Tools & Software</a><br>
<a href="http://www.siwawi.arubi.uni-kl.de/avr_projects/">AVR projects and AVR Butterfly gcc port</a><br>
</div>
</div>
<b>Ruby Rails</b><br>
<div style="margin-left: 2em">
<a href="http://api.rubyonrails.org/">Ruby on Rails Documentation</a><br>
<a href="http://guides.rubyonrails.org/active_record_querying.html#selecting-specific-fields">Ruby on Rails Guides: Active Record Query Interface</a><br>
<a href="http://ar.rubyonrails.org/classes/Fixtures.html">Class: Fixtures</a><br>
<a href="http://api.rubyonrails.org/">Ruby on Rails Documentation</a><br>
<a href="http://acmsel.safaribooksonline.com:80/0596527446/I_0596527446_PREFACE_1">Safari Books Online - ACM - 0596527446 - Ajax on Rails</a><br>
<b>IDE</b><br>
<div style="margin-left: 2em">
<a href="http://www.google.com/search?q=ruby+IDE&ie=UTF-8&oe=UTF-8">ruby IDE - Google Search</a><br>
<a href="http://tnlessone.wordpress.com/2007/02/28/ruby-rails-ide-comparison-idea-netbeans-radrails/">Ruby / Rails IDE Comparison : Idea, Netbeans, RadRails « The Nameless One</a><br>
<a href="http://pivotallabs.com/users/chad/blog/articles/933-the-great-ruby-ide-smackdown-of-09">Chad's Blog - The Great Ruby IDE Smackdown of '09</a><br>
</div>
<a href="http://rails-server:3000/">http://rails-server:3000/</a><br>
<a href="http://railsapi.com/">Rails Searchable API Doc</a><br>
<a href="http://guides.rubyonrails.org/getting_started.html#setting-the-application-home-page">Getting Started with Rails</a><br>
<a href="http://dizzy.co.uk/ruby_on_rails/cheatsheets/rails-migrations#change_column">Ruby on Rails - Rails Migrations Cheatsheet - Dizzy</a><br>
<a href="http://api.rubyonrails.org/">Ruby on Rails Documentation</a><br>
<a href="http://guides.rubyonrails.org/migrations.html">Migrations</a><br>
<a href="http://www.linuxjournal.com/article/10315">Improved Scaffolding for Ruby on Rails</a><br>
<a href="http://oreilly.com/catalog/9780596510657/">Test Driven Ajax (on Rails) - O'Reilly Media</a><br>
<a href="http://api.rubyonrails.org/classes/ActiveRecord/Base.html">Class: ActiveRecord::Base</a><br>
<a href="http://api.rubyonrails.org/classes/ActiveRecord/Base.html#M002286">Class: ActiveRecord::Base (2)</a><br>
<a href="http://guides.rubyonrails.org/association_basics.html">A Guide to Active Record Associations</a><br>
<a href="http://api.rubyonrails.org/classes/ActiveRecord/ConnectionAdapters/Table.html">Class: ActiveRecord::ConnectionAdapters::Table</a><br>
<a href="http://guides.rubyonrails.org/active_record_validations_callbacks.html">Ruby on Rails Guides: Active Record Validations and Callbacks</a><br>
<a href="http://api.rubyonrails.org/">Ruby on Rails Documentation</a><br>
<a href="http://weblog.jamisbuck.org/2006/10/18/skinny-controller-fat-model">the { buckblogs :here }: Skinny Controller, Fat Model</a><br>
<a href="http://www.collectivenoodle.com/blog-articles/2009/12/8/pgerror-error-permission-denied-ri_constrainttrigger_xxxxxxx.html">The noodle collective... noodle means brain - Collective Noodl...ion denied: "RI_ConstraintTrigger_xxxxxxx" is a system trigger</a><br>
<a href="http://cookbook.hobocentral.net/tutorials/agility">Hobo Tutorials - Agility - demonstrates all Hobo features : Hobo Cookbook</a><br>
<a href="http://rails-server:3000/images/AVR.html">Error while loading http://rails-server:3000/images/Electronics.html</a><br>
</div>
<b>Database</b><br>
<div style="margin-left: 2em">
<a href="http://www.postgresql.org/docs/8.4/static/plpgsql-statements.html#PLPGSQL-STATEMENTS-SQL-NORESULT">PostgreSQL: Documentation: Manuals: PostgreSQL 8.4: Basic Statements</a><br>
<a href="http://www.postgresql.org/docs/8.2/static/sql-update.html">PostgreSQL: Documentation: Manuals: PostgreSQL 8.2: UPDATE</a><br>
<a href="http://dbconvert.com/convert-access-to-postgresql-pro.php">DBConvert for MS Access & PostgreSQL database migration tool f...SQL database conversion tool with built-in scheduler right now</a><br>
<a href="http://bioconductor.org/packages/2.4/bioc/manuals/RdbiPgSQL/man/RdbiPgSQL.pdf">http://bioconductor.org/packages/2.4/bioc/manuals/RdbiPgSQL/man/RdbiPgSQL.pdf</a><br>
</div>
<b>R</b><br>
<div style="margin-left: 2em">
<a href="http://rubyforge.org/forum/forum.php?forum_id=7794">RubyForge: RSRuby: help</a><br>
<a href="http://web.kuicr.kyoto-u.ac.jp/%7Ealexg/rsruby/manual.pdf">http://web.kuicr.kyoto-u.ac.jp/~alexg/rsruby/manual.pdf</a><br>
<a href="http://sourceforge.net/projects/rpgsql/">R PostgreSQL Interface | Get R PostgreSQL Interface at SourceForge.net</a><br>
<a href="http://www.varlena.com/GeneralBits/Tidbits/bernier/art_66/graphingWithR.html">Making Graphs with PostgreSQL and R</a><br>
<a href="http://ananelson.com/said/on/2008/04/24/r-on-rails-with-rsruby/">R on Rails with RSRuby</a><br>
<a href="http://www.r-project.org/">The R Project for Statistical Computing</a><br>
<a href="http://cran.r-project.org/doc/manuals/R-intro.html#index-is_002ena-63">An Introduction to R</a><br>
<a href="http://cran.r-project.org/doc/manuals/R-lang.html">R Language Definition</a><br>
</div>
<b>Ruby</b><br>
<div style="margin-left: 2em">
<a href="http://www.ruby-doc.org/">Ruby-Doc.org: Documenting the Ruby Language</a><br>
<a href="http://www.ruby-doc.org/core/">RDoc Documentation [ruby-doc.org]</a><br>
<a href="http://www.ruby-doc.org/core/">RDoc Documentation [ruby-doc.org]</a><br>
<a href="http://www.skorks.com/2009/08/how-a-ruby-case-statement-works-and-what-you-can-do-with-it/">How A Ruby Case Statement Works And What You Can Do With It</a><br>
<a href="http://www.ruby-doc.org/">[Ruby-Doc.org: Documenting the Ruby Language]</a><br>
<b>Ruby spec</b><br>
<div style="margin-left: 2em">
<a href="http://www.google.com/search?q=ruby+rails+hobo&ie=UTF-8&oe=UTF-8">ruby rails hobo - Google Search</a><br>
<a href="http://www.rubyinside.com/">Ruby Inside: Ruby blog with daily news, links, code and tips</a><br>
<a href="">rubyspec.org</a><br>
<a href="http://ruby-std.netlab.jp/">Ruby Draft Specification</a><br>
</div>
<a href="http://www.humblelittlerubybook.com/book/html/chapter3.html">Mr. Neighborly's Humble Little Ruby Book</a><br>
<a href="http://ruby-doc.org/docs/ProgrammingRuby/html/tut_methods.html">Programming Ruby: The Pragmatic Programmer's Guide</a><br>
<a href="http://www.ruby-doc.org/stdlib/">Ruby Standard Library Documentation</a><br>
<a href="http://www.ruby-doc.org/">[Ruby-Doc.org: Documenting the Ruby Language]</a><br>
<a href="http://www.zenspider.com/Languages/Ruby/QuickRef.html">Ruby QuickRef</a><br>
<a href="http://www.rootr.net/rubyfaq.html#toc8">The Ruby Language FAQ</a><br>
<a href="http://ruby-doc.org/docs/ProgrammingRuby/html/index.html">Programming Ruby: The Pragmatic Programmer's Guide</a><br>
<b>RACC</b><br>
<div style="margin-left: 2em">
<a href="http://www.ruby-doc.org/core/">RDoc Documentation</a><br>
<a href="http://i.loveruby.net/en/man/racc/">Racc User Manual</a><br>
<a href="http://i.loveruby.net/en/man/racc/command.html">Racc Command Reference</a><br>
<a href="http://i.loveruby.net/en/man/racc/parser.html"><code>class <a name="Racc%3a%3aParser">Racc::Parser</a> </code></a><br>
<a href="http://www.google.com/search?q=racc+example&ie=UTF-8&oe=UTF-8">racc example - Google Search</a><br>
<a href="http://www.ruby-doc.org/stdlib/">Ruby Standard Library Documentation</a><br>
</div>
<a href="http://www.google.com/search?as_q=site%3Aruby-doc.org/docs/ProgrammingRuby+module&num=10&btnG=Google+Search&as_epq=&as_oq=&as_eq=&lr=&as_ft=i&as_filetype=&as_qdr=all&as_occt=any&as_dt=i&as_sitesearch=&safe=active&ie=UTF-8&oe=UTF-8">site:ruby-doc.org/docs/ProgrammingRuby module - Google Search</a><br>
<a href="http://railstips.org/blog/archives/2006/11/18/class-and-instance-variables-in-ruby/">Class and Instance Variables In Ruby // RailsTips by John Nunemaker</a><br>
<a href="http://www.google.com/search?q=site%3Aruby-doc.org/docs/ProgrammingRuby+super&ie=UTF-8&oe=UTF-8">site:ruby-doc.org/docs/ProgrammingRuby super - Google Search</a><br>
</div>
</div>
</div>
<b>Present (Work/Skepticism)</b><br>
<div style="margin-left: 2em">
<b>OTE</b><br>
<div style="margin-left: 2em">
<b>Wiki</b><br>
<div style="margin-left: 2em">
<a href="https://github.com/GregLawson/Open-Table-Explorer/wiki">GitHub</a><br>
<a href="https://github.com/GregLawson/Open-Table-Explorer/wiki/2.2.4.-R">2.2.4. R - GitHub</a><br>
</div>
<b>Development</b><br>
<div style="margin-left: 2em">
<b>Methods</b><br>
<div style="margin-left: 2em">
<a href="http://rails-server:3002/stream_methods">index</a><br>
<a href="http://rails-server:3002/stream_methods/21818422">Acquisition Method</a><br>
<a href="http://rails-server:3002/stream_methods/569237512">Rtest3</a><br>
<a href="http://rails-server:3002/stream_method_arguments">Arguments</a><br>
<a href="http://rails-server:3002/stream_method_arguments/584124197">Action Controller: Exception caught</a><br>
</div>
<b>Calls</b><br>
<div style="margin-left: 2em">
<a href="http://rails-server:3002/stream_method_calls">OTE</a><br>
<a href="http://rails-server:3002/stream_method_calls/450215437">Action Controller: Exception caught</a><br>
<a href="http://rails-server:3002/stream_links">OTE</a><br>
<a href="http://rails-server:3002/stream_links/64810937">Action Controller: Exception caught</a><br>
</div>
<b>Patterns</b><br>
<div style="margin-left: 2em">
<a href="http://rails-server:3002/stream_patterns">index</a><br>
<a href="http://rails-server:3002/stream_patterns/695672806">Acquisition</a><br>
<a href="http://rails-server:3002/stream_pattern_arguments">Arguments</a><br>
<a href="http://rails-server:3002/stream_pattern_arguments/695672806">Acquisition Arguments</a><br>
</div>
<a href="http://rails-server:3002/">OTE</a><br>
<b>Merge Forward</b><br>
<div style="margin-left: 2em">
<a href="http://rails-server:3002/transfers">Transfers: index</a><br>
<a href="http://rails-server:3002/acquisition_stream_specs/">Rtest3</a><br>
<a href="http://rails-server:3002/acquisition_interfaces/569237512">AcquisitionInterfaces: show</a><br>
<a href="http://rails-server:3002/acquisition_stream_specs">Rtest3</a><br>
<a href="http://rails-server:3002/table_specs">Rtest3</a><br>
<a href="http://rails-server:3002/ruby_interfaces/72588795/edit">Rtest3</a><br>
</div>
</div>
<b>Test (Fixtures)</b><br>
<div style="margin-left: 2em">
<b>Streams</b><br>
<div style="margin-left: 2em">
<a href="http://rails-server:3001/stream_patterns/695672806">Stream Patterns</a><br>
<a href="http://rails-server:3001/stream_patterns/695672806">Action Controller: Exception caught</a><br>
<a href="http://rails-server:3001/stream_pattern_arguments">Stream Pattern Arguments</a><br>
<a href="http://rails-server:3001/stream_methods">Stream Methods</a><br>
<a href="http://rails-server:3001/stream_methods/569237512">Acquistion Stream Method</a><br>
<a href="http://rails-server:3001/stream_method_arguments">Stream Method Arguments</a><br>
</div>
<a href="http://rails-server:3001/acquisition_stream_specs">Rtest3</a><br>
</div>
<b>Production (Stable)</b><br>
<div style="margin-left: 2em">
<b>Active</b><br>
<div style="margin-left: 2em">
<b>Polymorphic</b><br>
<div style="margin-left: 2em">
<a href="http://rails-server:3000//nodes">Nodes: index</a><br>
<a href="http://rails-server:3000/breakers">Breakers: index</a><br>
<a href="http://rails-server:3000//measurements">Measurements</a><br>
<a href="http://rails-server:3000/wired_locations">WiredLocations: index</a><br>
</div>
<a href="http://rails-server:3000/urls">URLs:index</a><br>
<a href="http://rails-server:3000/accounts">Accounts: index</a><br>
<a href="http://rails-server:3000/accounts/21787722/edit">Accounts: edit</a><br>
<a href="http://rails-server:3000/frequencies/245214060/edit">Frequencies</a><br>
<a href="http://rails-server:3000/example_types/1/edit">Example Types</a><br>
<a href="http://rails-server:3000/bugs">Bugs:index</a><br>
<a href="http://rails-server:3000/transfers">Transfers: index</a><br>
<a href="http://rails-server:3000/transfers/2/edit">Transfers: edit</a><br>
<a href="http://rails-server:3000/">Home:index</a><br>
</div>
<b>Errors</b><br>
<div style="margin-left: 2em">
<a href="http://rails-server:3000/acquisition_stream_specs">Rtest3</a><br>
<a href="http://rails-server:3000/nodes/1/edit">Nodes: edit</a><br>
</div>
<b>Merge Forward</b><br>
<div style="margin-left: 2em">
<a href="http://rails-server:3000/acquisition_interfaces">AcquisitionInterfaces: index</a><br>
<a href="http://rails-server:3000/transactions">Transactions: index</a><br>
<a href="http://rails-server:3000/parse_specs/4/edit">Parse Specs</a><br>
<a href="http://rails-server:3000/table_specs/205194065/edit">Table Specs</a><br>
</div>
</div>
</div>
<b>Github Pages</b><br>
<div style="margin-left: 2em">
<b>OTE Github Pages</b><br>
<div style="margin-left: 2em">
<b>Presentations</b><br>
<div style="margin-left: 2em">
</div>
<a href="http://greglawson.github.com/Open-Table-Explorer/index.html">OTE Home Page</a><br>
<a href="http://greglawson.github.com/Open-Table-Explorer/doc/index.html">RDoc Documentation</a><br>
</div>
<b>Greg Lawson Github Pages</b><br>
<div style="margin-left: 2em">
<a href="http://greglawson.github.com/">Pages</a><br>
</div>
</div>
<a href="https://mail.google.com/mail/h/1k88inemv5sjl/?&v=cl&pnl=a">Gmail - Contact List</a><br>
<a href="http://en.wikipedia.org/wiki/Rotator_cuff">Rotator cuff - Wikipedia, the free encyclopedia</a><br>
<b>Configuration</b><br>
<div style="margin-left: 2em">
<a href="http://packages.debian.org/search?suite=experimental&section=all&arch=i386&searchon=names&keywords=rails">Debian -- Package Search Results -- rails</a><br>
<a href="http://192.168.3.233/tgi/login.tgi">IP9258</a><br>
<a href="http://192.168.5.146:3000/">Laptop Production Server</a><br>
<b>pcHDTV2</b><br>
<div style="margin-left: 2em">
<a href="http://www.pchdtv.com/">pcHDTV</a><br>
<a href="http://www.pchdtv.com/forum/viewtopic.php?t=3203&sid=b299048b21169ba6e422a2e03cb229c3">pcHDTV :: View topic - Do you have a working HD-5500 configuration?</a><br>
<a href="http://www.pchdtv.com/forum/viewtopic.php?p=2517&sid=71b32bfcbfeff154e419638a1c4035ae">pcHDTV :: View topic - Transport Streams -> Program Streams (experiment w/ resul</a><br>
<a href="http://doc.freevo.org/QuickStartGuide">QuickStartGuide - Freevo 1.x Wiki</a><br>
</div>
<a href="http://kopongo.com/2008/7/25/postgres-ri_constrainttrigger-error">Kopongo: postgres RI_ConstraintTrigger Error</a><br>
<b>Local</b><br>
<div style="margin-left: 2em">
<a href="http://192.168.3.254/cgi-bin/webif/info.sh">OpenWrt 254</a><br>
<a href="http://192.168.3.193/Footprints.html">TED5000 193</a><br>
<a href="http://192.168.3.233/tgi/login.tgi">IP9258</a><br>
<a href="http://xpt.sourceforge.net/techdocs/nix/conn/general/conn11-HeadlessSystem/single/">Headless System</a><br>
<a href="http://tldp.org/HOWTO/Remote-X-Apps.html#toc8">Remote X Apps mini-HOWTO</a><br>
<a href="http://rails-server:3000/">home: index</a><br>
</div>
<a href="http://www.time.gov/timezone.cgi?Pacific/d/-8/java">The official U.S. time - clock</a><br>
<a href="http://solutions.brother.com/linux/en_us/instruction_esp4.html">Brother Solutions Center : Brother Driver for Linux Distributions</a><br>
<a href="http://welcome.solutions.brother.com/bsc/public_s/id/linux/en/instruction_esp4.html">Brother Solutions Center : Brother Driver for Linux Distributions</a><br>
<a href="file:///home/greg/.kde/share/apps/konqueror/">Konqueror Config Files</a><br>
</div>
<b>Accounting</b><br>
<div style="margin-left: 2em">
<a href="https://personal.vanguard.com/us/home?fromPage=portal">Vanguard - Personal investors homepage</a><br>
<a href="http:kinecta.org">Kinecta</a><br>
<a href="https://www.unionbank.com/personal-banking/index.jsp">Personal Banking | Union Bank</a><br>
<a href="http://192.168.5.133/hdd/Database/HSA/index.html">HSA</a><br>
<a href="http://www.optumhealthbank.com/">OptumHealth Bank - Health Savings Account | Home</a><br>
<b>Taxes</b><br>
<div style="margin-left: 2em">
<b>Property</b><br>
<div style="margin-left: 2em">
<a href="http://lacountypropertytax.com/portal/default.aspx">Los Angeles County Property Tax Website - Home Page</a><br>
</div>
<b>Federal</b><br>
<div style="margin-left: 2em">
<b>tax downloaf</b><br>
<div style="margin-left: 2em">
<a href="http://api.rubyonrails.org/classes/ActiveRecord/Base.html">Class: ActiveRecord::Base</a><br>
<a href="http://sourceforge.net/projects/opentaxsolver/files/OTS_2009/v7.07/OpenTaxSolver2009_7.07.tgz/download">Download Open Tax Solver from SourceForge.net</a><br>
<a href="http://opentaxsolver.sourceforge.net/forms.html">OpenTaxSolver Download Forms Page</a><br>
</div>
<b>Taxes 2008</b><br>
<div style="margin-left: 2em">
<a href="http://www.ftb.ca.gov/forms/2008/index.shtml">2008 Forms by Number</a><br>
<a href="http://www.ftb.ca.gov/forms/2008/08_540.pdf">http://www.ftb.ca.gov/forms/2008/08_540.pdf</a><br>
<a href="http://www.ftb.ca.gov/online/Tax_Calculator/Calculator.aspx">2008 Tax Calculator</a><br>
<a href="http://www.ftb.ca.gov/forms/2008/08_540tt.pdf">http://www.ftb.ca.gov/forms/2008/08_540tt.pdf</a><br>
<a href="http://www.ftb.ca.gov/forms/2008/08_540a_540ins.pdf">http://www.ftb.ca.gov/forms/2008/08_540a_540ins.pdf</a><br>
<a href="http://maps.assessor.lacounty.gov/mapping/viewer.asp">Parcel Viewer</a><br>
</div>
<b>Solar Credits</b><br>
<div style="margin-left: 2em">
<b>Solar</b><br>
<div style="margin-left: 2em">
<a href="http://www.abcsolar.com/Solar_Energy_Systems.html">Solar Energy Systems Sales and Service. 1-310-373-3169</a><br>
<a href="http://www.sce.com/residential/rebates-savings/csi?from=rs_csi">SCE - Solar Incentives</a><br>
<a href="http://www.malarkeyroofing.com/lamsilverwood.htm">Malarkey Silverwood Laminate Shingle</a><br>
</div>
<a href="http://www.consumerenergycenter.org/erprebate/equipment.html">Eligible Renewable Equipment</a><br>
<a href="http://www.sce.com/customergeneration/customer-generation.htm">SCE - Self Generation (Distributed Generation)</a><br>
<a href="http://www.energystar.gov/index.cfm?c=products.pr_tax_credits#c7">Federal Tax Credits for Energy Efficiency : ENERGY STAR</a><br>
<a href="http://energystar.custhelp.com/cgi-bin/energystar.cfg/php/enduser/std_adp.php?p_faqid=5771&p_created=1242149266&p_sid=8IHi7cyj&p_accessibility=0&p_redirect=&p_lva=5697&p_sp=cF9zcmNoPTEmcF9zb3J0X2J5PSZwX2dyaWRzb3J0PSZwX3Jvd19jbnQ9MSwxJnBfcHJvZHM9MCZwX2NhdHM9JnBfcHY9JnBfY3Y9JnBfcGFnZT0xJnBfc2VhcmNoX3RleHQ9NTc3MQ**&p_li=&p_topview=1">Is there a tax credit for roofs?</a><br>
<a href="http://downloads.energystar.gov/bi/qplist/roofs_prod_list.pdf">http://downloads.energystar.gov/bi/qplist/roofs_prod_list.pdf</a><br>
</div>
</div>
<b>State</b><br>
<div style="margin-left: 2em">
</div>
</div>
<a href="https://www.annualcreditreport.com/cra/index.jsp">AnnualCreditReport</a><br>
</div>
<b>Scheduling</b><br>
<div style="margin-left: 2em">
<a href="http://www.cfiwest.org/calendar/index.htm">CFI West</a><br>
<a href="http://latechcalendar.com/">LA Tech Calendar - Tech Events in Los Angeles, California</a><br>
<a href="http://www.klcs.org/0309/tvschedule.htm">http://www.klcs.org/0309/tvschedule.htm</a><br>
<a href="http://www.kcet.org/schedule/index.php?day=1&month=8&year=2009&vAction=all&channel=world">Schedule - KCET Online</a><br>
<a href="http://utbhollywood.com/en/programlist/">UTBHollywood/Programlist</a><br>
</div>
<b>Media</b><br>
<div style="margin-left: 2em">
<a href="http://www.gutenberg.org/browse/categories/1">Browse By Category: Audio Book, human-read - Project Gutenberg</a><br>
<a href="http://www.gutenberg.org/files/963/963-h/963-h.htm#2HCH0054">Little Dorrit, by Charles Dickens</a><br>
<a href="http://www.centerforinquiry.net/digitalmedia/">Digital Media | Center for Inquiry</a><br>
<a href="http://www.wikihow.com/Fix-a-Scratched-CD">How to Fix a Scratched CD (with video) - wikiHow</a><br>
<a href="http://www.koce.org/whats.htm">KOCE</a><br>
<a href="http://www.aworldthatjustmightwork.com/Terrence_McNally/Index.html">Index</a><br>
<a href="http://www.schneier.com/">Schneier on Security</a><br>
</div>
<a href="file:///media/iosafe/">iosafe</a><br>
<a href="file:///home/greg/Desktop/">Desktop</a><br>
<a href="file:///home/greg/Desktop/Many%20organized%20Bookmarks.html">My Bookmarks</a><br>
</div>
<b>Future (Creatvity, Aspirations)</b><br>
<div style="margin-left: 2em">
<a href="https://github.com/repositories">Interesting Repositories - GitHub</a><br>
<b>Iomega5 Web Server</b><br>
<div style="margin-left: 2em">
<a href="http://192.168.5.133/hdd/Database/index.htm">Home page</a><br>
<a href="http://192.168.5.133/hdd/My%20Pictures/Art/scan0009.jpg">JPEG Image Example</a><br>
<a href="http://192.168.5.133/">A simple html+cgi example</a><br>
</div>
<b>Interesting Open Source Projects</b><br>
<div style="margin-left: 2em">
<b>Gimp panorama</b><br>
<div style="margin-left: 2em">
<a href="http://www.google.com/search?q=GIMP+stitch+panorama&ie=UTF-8&oe=UTF-8">GIMP stitch panorama - Google Search</a><br>
<a href="http://stitchpanorama.sourceforge.net/">Stich Panormama</a><br>
<a href="http://www.shallowsky.com/software/pandora/">Pandora: a GIMP Plugin for Making Panoramas</a><br>
<a href="http://mailman.linuxchix.org/pipermail/courses/2005-April/001888.html">[Courses][gimp] Lesson 10: Stitching Panoramic Images</a><br>
<a href="http://stitchpanorama.sourceforge.net/stitch_panorama.pdf">http://stitchpanorama.sourceforge.net/stitch_panorama.pdf</a><br>
</div>
<a href="http://www.imagemagick.org/Usage/color/#equalize">Color Modifications -- IM v6 Examples</a><br>
<b>Rio Rancho</b><br>
<div style="margin-left: 2em">
<a href="http://www.mlsfinder.com/nm_swmls/gaar/index.cfm?action=searchresults&searchkey=19f2d531-9c7f-fa1f-c078-1a49c6cf88cb&npp=10&sr=1&sort=price">Greater Albuquerque Association of REALTORS® | Home Search</a><br>
<a href="http://maps.google.com/maps?hl=en&q=Rio+Rancho,+NM&ie=UTF8&output=html&f=q">Rio Rancho, NM - Google Maps</a><br>
<a href="http://www.harvilleestates.com/VacantLandforSale.html">Vacant Land New Mexico</a><br>
<a href="http://www.newhomesabq.com/featured2.html">Real Estate and Homes in Albuquerque by Nancy Harville, Realtor.</a><br>
<a href="http://maps.google.com/maps?hl=en&q=Rio+Rancho,+NM&ie=UTF8&f=q">Rio Rancho, NM - Google Maps</a><br>
<a href="http://maps.google.com/maps/ms?hl=en&q=Rio+Rancho,+NM&ie=UTF8&f=q&oe=UTF8&msa=0&msid=113544218111303559301.00044234e09780ccad9be&output=html&oi=slow">Google Maps</a><br>
<a href="http://www.mlsfinder.com/nm_swmls/gaar/index.cfm?action=listing_detail&property_id=645148&searchkey=1a0f517f-e348-1037-59cb-367a0d988ffa&npp=10&sr=91">Greater Albuquerque Association of REALTORS® | Home Search</a><br>
</div>
<a href="http://www.fepg.org/atscepg/readme/">ATSC EPG :: Read Me</a><br>
<a href="http://www.imagemagick.org/Usage">Color Modifications -- IM v6 Examples</a><br>
<a href="http://meta.wikimedia.org/wiki/Help%3AEditing#Links">Help:Editing - Meta</a><br>
<a href="http://www.openframeworks.cc/documentation">openFrameworks</a><br>
<a href="http://rails-server:8080/index.html">WWWOFFLE Version 2.9 - Proxy Welcome Page</a><br>
<a href="http://www.zoneminder.com/">ZoneMinder - ZoneMinder: Linux Home CCTV and Video Camera Security with Motion Detection</a><br>
</div>
<b>Shoppng</b><br>
<div style="margin-left: 2em">
<a href="http://www.hometrainingtools.com/microscopic-agar-petri-dishes-science-teaching-tip/a/1060/">Agar and Petri Dishes Teaching Tip</a><br>
<a href="http://www.seeedstudio.com/depot/open-workbench-logic-sniffer-p-612.html">Open Workbench Logic Sniffer [OBC101E1P] - $50.00 : Seeed Studio Bazaar, Boost ideas, extend the reach</a><br>
<b>Casio camera</b><br>
<div style="margin-left: 2em">
<a href="http://www.imaging-resource.com/PRODS/EXS12/EXS12DAT.HTM">Casio EXILIM Card EX-S12 Digital Camera - Preview Data Sheet, Specifications and Information - The Imaging Resource!</a><br>
<a href="http://www.amazon.com/Casio-Exilim-Digital-Optical-Silver/product-reviews/B001OTZQS2/ref%3Ddp_top_cm_cr_acr_txt?ie=UTF8&showViewpoints=1">Amazon.com: Customer Reviews: Casio Exilim EX-S12 12MP Digital Camera with 3x Optical Zoom and 2.7 inch LCD (Silver)</a><br>
<a href="http://www.imaging-resource.com/PRODS/SD780IS/SD780ISA.HTM">Canon PowerShot SD780 IS Digital Camera - Express Review - The Imaging Resource!</a><br>
</div>
<b>Home</b><br>
<div style="margin-left: 2em">
<a href="http://www.savenrg.com/venting.htm">attic venting</a><br>
<a href="http://attic-ladder.com/">Attic Ladder</a><br>
<a href="http://en.wikipedia.org/wiki/X10_(industry_standard)">X10 (industry standard) - Wikipedia, the free encyclopedia</a><br>
<a href="http://www.epanorama.net/documents/lights/lightdimmer.html">Light dimmer circuits</a><br>
<a href="http://celosangeles.ucdavis.edu/Garden_Tips_for_Los_Angeles_County/September.htm">Los Angeles County - September - Garden Tips for Los Angeles County</a><br>
</div>
<b>Web site making</b><br>
<div style="margin-left: 2em">
<a href="http://ajpendo.physiology.org/cgi/content/full/289/3/E363">Estimation of dose-response curves and identification of peaks...an-Everett 289 (3): E363 -- AJP - Endocrinology and Metabolism</a><br>
<a href="http://rails-server:3000/">Ruby on Rails: Welcome aboard</a><br>
<a href="http://www.debian-administration.org/articles/329">Ruby on Rails on Debian</a><br>
<a href="http://www.zvon.org/xxl/XPathTutorial/Output/example1.html">XPath Tutorial</a><br>
<a href="http://www.poohbah.com/public_html/sb/sb_docs/Com_RS485.pdf">Com_RS485.pdf</a><br>
<a href="http://www.spry.com/?utm_campaign=dtsmall&utm_source=domaintools&utm_medium=banner">Virtual Private Servers (VPS)</a><br>
<a href="http://www.phy.duke.edu/%7Ergb/Beowulf/beowulf_book/beowulf_book/index.html">http://www.phy.duke.edu/~rgb/Beowulf/beowulf_book/beowulf_book/index.html</a><br>
</div>
<b>Solar spa parts</b><br>
<div style="margin-left: 2em">
<a href="http://www.jameco.com/webapp/wcs/stores/servlet/ProductDisplay?langId=-1&storeId=10001&catalogId=10001&productId=759893">Jameco Electronics Electromechanical: POTTER & BRUMFIELD/TYCO (P&B): T7NS5D1-05</a><br>
<a href="http://www.jameco.com/Jameco/catalogs/c294/P91.pdf">http://www.jameco.com/Jameco/catalogs/c294/P91.pdf</a><br>
</div>
<a href="http://www.futurlec.com/index.shtml">Futurlec, The Electronic Components and Semiconductor Superstore</a><br>
<a href="http://www.cleanairgardening.com/soiltester.html">Electronic Soil Tester for Garden Plants</a><br>
<a href="http://www.sdraingutters.com/rain_water_saver.htm">Rain Water Harvesting Water Savers San Diego Rain Barrels</a><br>
<a href="http://www.cleanairgardening.com/drbudorare.html">Drought Buster downspout rainwater redistributor</a><br>
<a href="http://www.futurlec.com/Computer_Adapters.shtml">Computer Interface Adapters</a><br>
<a href="http://latoolrental.com/699/">Wet / Dry Vacuums Rental | Los Angeles Tool & Equipment Rental</a><br>
<a href="http://www.sears.com/shc/s/p_10153_12605_00916917000P?mv=rr">Craftsman Hose Connect Adapter</a><br>
<a href="http://www.sears.com/shc/s/p_10153_12605_00917821000P?mv=rr">Craftsman 2-1/2 in. x 20 ft. Vacuum Hose</a><br>
<a href="http://attic-ladder.com/">Attic Ladder</a><br>
<a href="http://arduino.cc/en/Main/Hardware">Arduino - Hardware</a><br>
<a href="http://moderndevice.com/">Bare Bones Board - Modern Device Company</a><br>
<a href="http://store.qkits.com/results.cfm">QKits Electronic Kits</a><br>
<a href="http://www.amazon.com/Atlas-Human-Anatomy-Robert-Dickinson/dp/0882750143/ref%3Dsr_1_1?ie=UTF8&s=books&qid=1259473138&sr=1-1">Amazon.com: Atlas of Human Sex Anatomy (9780882750149): Robert L. Dickinson: Books</a><br>
<b>Water softener</b><br>
<div style="margin-left: 2em">
<a href="http://www.softenerparts.zoovy.com/product/AP1244336/Refll_Sensor_Probe_for_Salt_Detector_Logix_Upgrade_PN_1244336.html">Softenerparts.com Refll Sensor Probe for Salt Detector Logix Upgrade PN 1244336</a><br>
<a href="http://www.softenerparts.zoovy.com/c%3DNEWvLzPAaAP7zhqvtqWIANN9i/product/AP255RBK/Rebuild_Kit_for_Autotrol_255_Valve_Body__AP255RBK.html">Softenerparts.com Rebuild Kit for Autotrol 255 Valve Body</a><br>
<a href="http://www.caitechnologies.com/shopping/ShowItem.asp?ItemID=255762-32K">32K Metered Water Softener WS1LM Microprecessor Metered Softener from CAI Technologies</a><br>
</div>
<a href="http://www.tantor.com/BookList.asp?Genre=History&Page=3">Tantor Media Audiobooks : Book(s) in History</a><br>
<a href="http://www.tantor.com/BookList.asp?Genre=Classics&Page=22">Tantor Media Audiobooks : Book(s) in Classics</a><br>
<a href="http://www.givewell.net/charities">Charities | GiveWell</a><br>
<a href="http://www.a4we.org/uploadedFiles/Resource_Center/Library/products/MaP/MaP_15/Appendix-B-MaP-15th-sort-mfrs-2009-10-20.pdf">http://www.a4we.org/uploadedFiles/Resource_Center/Library/products/MaP/MaP_15/Appendix-B-MaP-15th-sort-mfrs-2009-10-20.pdf</a><br>
<a href="http://www.totousa.com/ProductDetail/tabid/75/Default.aspx?ProductId=f090f91a-9e88-4d0c-9c72-86f0c609b9e4&SearchId=c52dd5ef-d3ea-4a74-89f2-bdacefd17cb9">Product Detail</a><br>
<a href="http://www.sparkfun.com/commerce/product_info.php?products_id=30">SparkFun Electronics - 20 Pin AVR Relay Development Board</a><br>
<a href="http://www.sparkfun.com/commerce/product_info.php?products_id=199">SparkFun Electronics - Breakout Board for CP2103 USB to Serial w/ GPIOs</a><br>
<a href="http://www.hometrainingtools.com/ph-meter-digital-0-14-ph-range/p/ME-PHMETER/">Pocket-size digital pH meter, 0-14 pH range</a><br>
<a href="http://vivo.cornell.edu/display/TheLostLadybugProjectACitizenScienceReasearchandOutreachProgram">The Lost Ladybug Project: A Citizen Science Reasearch and Outreach Program</a><br>
<a href="http://www.batteryspace.com/lifepo4cellspacks.aspx">BatterySpace.com/AA Portable Power Corp. Tel: 510-525-2328 - LiFePO4 Cells / Packs</a><br>
</div>
<b>Research</b><br>
<div style="margin-left: 2em">
<a href="http://hollywoodrealitycheck.com/#more-594">Hollywood Reality Check</a><br>
<a href="http://www.google.com/search?hl=en&q=Emily+Howell+Music+David+Cope+UCSC&aq=f&oq=&aqi=">Emily Howell Music David Cope UCSC - Google Search</a><br>
<b>Sustainability</b><br>
<div style="margin-left: 2em">
<a href="http://www.caitechnologies.com/water-softeners/selecting-the-correct-size-water-softener.htm">Metered Water Softeners, Twin Tank Water Softeners, and water treatment technologies</a><br>
<b>Adobe</b><br>
<div style="margin-left: 2em">
<a href="http://en.wikipedia.org/wiki/Earthbag_construction">Earthbag construction - Wikipedia, the free encyclopedia</a><br>
<a href="http://en.wikipedia.org/wiki/Super_Adobe">Super Adobe - Wikipedia, the free encyclopedia</a><br>
<a href="http://www.earthbagbuilding.com/">Earthbag Building Index</a><br>
<a href="http://www.earthbagbuilding.com/resources.htm">Earthbag Building Resources</a><br>
</div>
<a href="http://chanceofrain.com/">http://chanceofrain.com/</a><br>
<a href="http://www.heytanksla.com/Home/Rain-Barrels/Home">Hey!TanksLA ‎(Rainwater Harvesting for the LA Basin)‎</a><br>
<a href="http://chanceofrain.com/1096/">Dry Gardening Resources :</a><br>
<a href="http://lasmmcnps.org/plantsale.html">lacnps.org - Annual Plant Sale!</a><br>
<a href="http://www.pluginamerica.org/plug-in-vehicle-tracker.html">Plug In America - Plug-in Vehicle Tracker</a><br>
</div>
<b>Electronics</b><br>
<div style="margin-left: 2em">
<a href="http://www.batteryuniversity.com/partone-23.htm">How to charge - when to charge table</a><br>
<b>HDTV</b><br>
<div style="margin-left: 2em">
<a href="http://www.google.com/search?hl=en&q=site%3Awww.pchdtv.com+multiplex&btnG=Search&aq=f&oq=&aqi=">site:www.pchdtv.com multiplex - Google Search</a><br>
</div>
<a href="http://garden.seeedstudio.com/index.php?title=Twig_-_Seial_LCD_v1.0b">Twig - Seial LCD v1.0b - Garden</a><br>
<b>Electronic Chips</b><br>
<div style="margin-left: 2em">
<a href="http://en.wikipedia.org/wiki/PS/2_connector">PS/2 connector - Wikipedia, the free encyclopedia</a><br>
<a href="http://search.digikey.com/scripts/DkSearch/dksus.dll?vendor=of&keywords=network+sensor&stock=1">RF Transceivers | Digi-Key</a><br>
<a href="http://ordering.digikey.com/Ordering/AddPart.aspx">Digi-Key - Add Part</a><br>
<a href="http://search.digikey.com/scripts/DkSearch/dksus.dll?Detail&name=703-1030-ND">Digi-Key - 703-1030-ND (Manufacturer - ZM3102AH-CME1)</a><br>
<a href="http://digikey.com/PTM/IndividualPTM.page?site=us&lang=en&ptm=17514&WT.pn_sku=703-1030-ND&WT.z_ptm_source=Part_Detail">Z-Wave Introduction PTM provided by Digi-Key and Sigma Desig</a><br>
<a href="http://www.zen-sys.com/modules/Zensys/">Zensys - Zensys</a><br>
<a href="file:///home/greg/localEdit/energy/AVR/Pump/69921234f.pdf">69921234f.pdf</a><br>
<a href="http://www.jameco.com/webapp/wcs/stores/servlet/StoreCatalogDrillDownView?langId=-1&storeId=10001&catalogId=10001&freeText=PWM&search_type=jamecoall">Jameco Electronics - Electronic Components Distributor</a><br>
<a href="http://www.jameco.com/webapp/wcs/stores/servlet/StoreCatalogDrillDownView?langId=-1&storeId=10001&catalogId=10001&freeText=PWM&search_type=jamecoall">Jameco Electronics - Electronic Components Distributor</a><br>
<a href="http://books.google.com/books?id=bkOMDgwFA28C&pg=PA343&dq=low-dropout&lr=&as_brr=0&as_pt=ALLTYPES&ei=zHaDSY7uMIuiyATdre3dBg#v=onepage&q=low-dropout&f=false">The art of electronics - Google Books</a><br>
<a href="http://ecorenovator.org/forum/projects-improvements/637-diy-thermal-differential-controller-solar-hot-water-pump-controller-3.html">DIY thermal differential controller (solar hot water pump controller) - Page 3 - EcoRenovator</a><br>
<a href="http://www.lantronix.com/device-networking/utilities-tools/com-port-redirector.html">Lantronix > Products > Device Networking > Utilities and Tools > Com Port Redirector</a><br>
</div>
<b>Solar</b><br>
<div style="margin-left: 2em">
<a href="http://www.genasun.com/gv-5.shtml">Genasun GV-5 MPPT Solar Charge Controller with Low Voltage Disconnect LVD</a><br>
<a href="http://www.srrb.noaa.gov/highlights/sunrise/calcdetails.html">Solar Calculation Details</a><br>
</div>
<b>Power monitoring</b><br>
<div style="margin-left: 2em">
<a href="http://chuck-wright.com/apppv/pv_spice.html">PV-Spice</a><br>
<a href="http://cwc-das.com/index.php">Chuck Wright Consulting LLC :: Technology Serving Sustainability</a><br>
<a href="http://en.wikipedia.org/wiki/Comparison_of_open_source_software_hosting_facilities">Comparison of open source software hosting facilities - Wikipedia, the free encyclopedia</a><br>
<a href="file:///home/greg/energy/AVR/AVR.html">AVR.html</a><br>
<b>SPICE</b><br>
<div style="margin-left: 2em">
<a href="https://lists.ubuntu.com/archives/ubuntu-es/2005-April/003416.html">about building spice3 for debian</a><br>
<a href="http://www.google.com/search?as_q=Debian+Spice&num=10&btnG=Google+Search&as_epq=&as_oq=&as_eq=&lr=&as_ft=i&as_filetype=&as_qdr=all&as_occt=any&as_dt=i&as_sitesearch=&safe=active&ie=UTF-8&oe=UTF-8">Debian Spice - Google Search</a><br>
<a href="http://packages.debian.org/source/sid/ng-spice-rework">Debian -- Details of source package ng-spice-rework in sid</a><br>
</div>
<a href="file:///media/iomega5/My%20Pictures/Home/House/Attic/North%20East/North%20East%20Attic.html">North East Attic.html</a><br>
<a href="http://192.168.3.137/index.html">Sunny WebBox</a><br>
<a href="http://www.repairfaq.org/sam/aapsfaq.htm#adpsgen">Notes on the Troubleshooting and Repair of AC Adapters, Power Supplies, and Battery Packs, and Other Related Information</a><br>
</div>
</div>
<b>Wikipedia</b><br>
<div style="margin-left: 2em">
<a href="http://en.wikipedia.org/wiki/Data_fusion">Data fusion - Wikipedia, the free encyclopedia</a><br>
<a href="http://en.wikipedia.org/wiki/Exploratory_data_analysis">Exploratory data analysis - Wikipedia, the free encyclopedia</a><br>
<a href="http://en.wikipedia.org/wiki/Data_integration">Data integration - Wikipedia, the free encyclopedia</a><br>
<a href="http://en.wikipedia.org/wiki/Business_model">Business model - Wikipedia, the free encyclopedia</a><br>
<a href="http://en.wikipedia.org/wiki/Social_entrepreneurship">Social entrepreneurship - Wikipedia, the free encyclopedia</a><br>
<a href="http://en.wikipedia.org/wiki/Power_law">Power law - Wikipedia, the free encyclopedia</a><br>
<a href="http://en.wikipedia.org/wiki/Network_effect">Network effect - Wikipedia, the free encyclopedia</a><br>
</div>
<a href="http://www.acumenfund.org/investments.html">Acumen Fund | Investments</a><br>
<a href="http://www.nytimes.com/2010/09/26/opinion/26kristof.html">Op-Ed Columnist - Birth Control Over Baldness - NYTimes.com</a><br>
<a href="http://retractionwatch.wordpress.com/">Retraction Watch</a><br>
<a href="http://www.chem1.com/CQ/ionbunk.html">"Ionized" and alkaline water: snake oil on tap</a><br>
<a href="http://www.gswater.com/conservation_info_and_rebates.html">Conservation Information and Rebates -- Golden State Water Company -- California Water Utility Company</a><br>
<b>Track Interesting</b><br>
<div style="margin-left: 2em">
</div>
</div>
</div>
