<h1>New loads</h1>

<% form_for(@load) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :node %><br />
    <%= f.text_field :node %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :parent_node %><br />
    <%= f.text_field :parent_node %>
  </p>
  <p>
    <%= f.label :parent_description %><br />
    <%= f.text_field :parent_description %>
  </p>
  <p>
    <%= f.label :plug_in_location %><br />
    <%= f.text_field :plug_in_location %>
  </p>
  <p>
    <%= f.label :x_10_address %><br />
    <%= f.text_field :x_10_address %>
  </p>
  <p>
    <%= f.label :volatile %><br />
    <%= f.check_box :volatile %>
  </p>
  <p>
    <%= f.label :daylight_savings_adjustment %><br />
    <%= f.check_box :daylight_savings_adjustment %>
  </p>
  <p>
    <%= f.label :timer_savings %><br />
    <%= f.check_box :timer_savings %>
  </p>
  <p>
    <%= f.label :motion_savings %><br />
    <%= f.check_box :motion_savings %>
  </p>
  <p>
    <%= f.label :bedtime_savings %><br />
    <%= f.check_box :bedtime_savings %>
  </p>
  <p>
    <%= f.label :away_savings %><br />
    <%= f.check_box :away_savings %>
  </p>
  <p>
    <%= f.label :background %><br />
    <%= f.check_box :background %>
  </p>
  <p>
    <%= f.label :computer_common %><br />
    <%= f.check_box :computer_common %>
  </p>
  <p>
    <%= f.label :audio_video %><br />
    <%= f.check_box :audio_video %>
  </p>
  <p>
    <%= f.label :recorder %><br />
    <%= f.check_box :recorder %>
  </p>
  <p>
    <%= f.label :plug_width %><br />
    <%= f.text_field :plug_width %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', loads_path %>
