<p>
  <b>Node:</b>
  <%=h @load.node %>
</p>

<p>
  <b>Description:</b>
  <%=h @load.description %>
</p>

<p>
  <b>Parent node:</b>
  <%=h @load.parent_node %>
</p>

<p>
  <b>Parent description:</b>
  <%=h @load.parent_description %>
</p>

<p>
  <b>Plug in location:</b>
  <%=h @load.plug_in_location %>
</p>

<p>
  <b>X 10 address:</b>
  <%=h @load.x_10_address %>
</p>

<p>
  <b>Volatile:</b>
  <%=h @load.volatile %>
</p>

<p>
  <b>Daylight savings adjustment:</b>
  <%=h @load.daylight_savings_adjustment %>
</p>

<p>
  <b>Timer savings:</b>
  <%=h @load.timer_savings %>
</p>

<p>
  <b>Motion savings:</b>
  <%=h @load.motion_savings %>
</p>

<p>
  <b>Bedtime savings:</b>
  <%=h @load.bedtime_savings %>
</p>

<p>
  <b>Away savings:</b>
  <%=h @load.away_savings %>
</p>

<p>
  <b>Background:</b>
  <%=h @load.background %>
</p>

<p>
  <b>Computer common:</b>
  <%=h @load.computer_common %>
</p>

<p>
  <b>Audio video:</b>
  <%=h @load.audio_video %>
</p>

<p>
  <b>Recorder:</b>
  <%=h @load.recorder %>
</p>

<p>
  <b>Plug width:</b>
  <%=h @load.plug_width %>
</p>


<%= link_to 'Edit', edit_load_path(@load) %> |
<%= link_to 'Back', load_path %>
