<h1>New parse_spec</h1>

<% form_for(@parse_spec) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :parse_interface %><br />
    <%= f.text_field :parse_interface %>
  </p>
  <p>
    <%= f.label :table_selection %><br />
    <%= f.text_field :table_selection %>
  </p>
  <p>
    <%= f.label :row_selection %><br />
    <%= f.text_field :row_selection %>
  </p>
  <p>
    <%= f.label :name_prefix %><br />
    <%= f.text_field :name_prefix %>
  </p>
  <p>
    <%= f.label :column_name_location %><br />
    <%= f.text_field :column_name_location %>
  </p>
  <p>
    <%= f.label :column_name_selection %><br />
    <%= f.text_field :column_name_selection %>
  </p>
  <p>
    <%= f.label :column_selection %><br />
    <%= f.text_field :column_selection %>
  </p>
  <p>
    <%= f.label :column_value_selection %><br />
    <%= f.text_field :column_value_selection %>
  </p>
  <p>
    <%= f.label :table_selection_is_regexp %><br />
    <%= f.check_box :table_selection_is_regexp %>
  </p>
  <p>
    <%= f.label :acquisition_stream_spec_id %><br />
    <%= f.text_field :acquisition_stream_spec_id %>
  </p>
  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', parse_specs_path %>
