<p>
  <b>Parse interface:</b>
  <%=h @parse_spec.parse_interface %>
</p>

<p>
  <b>Table selection:</b>
  <%=h @parse_spec.table_selection %>
</p>

<p>
  <b>Row selection:</b>
  <%=h @parse_spec.row_selection %>
</p>

<p>
  <b>Name prefix:</b>
  <%=h @parse_spec.name_prefix %>
</p>

<p>
  <b>Column name location:</b>
  <%=h @parse_spec.column_name_location %>
</p>

<p>
  <b>Column name selection:</b>
  <%=h @parse_spec.column_name_selection %>
</p>

<p>
  <b>Column selection:</b>
  <%=h @parse_spec.column_selection %>
</p>

<p>
  <b>Column value selection:</b>
  <%=h @parse_spec.column_value_selection %>
</p>

<p>
  <b>Table selection is regexp:</b>
  <%=h @parse_spec.table_selection_is_regexp %>
</p>

<p>
  <b>Acquisition stream spec:</b>
  <%=h @parse_spec.acquisition_stream_spec_id %>
</p>

<p>
  <b>Id:</b>
  <%=h @parse_spec.id %>
</p>


<%= link_to 'Edit', edit_parse_spec_path(@parse_spec) %> |
<%= link_to 'Back', parse_specs_path %>
