<h1>Editing acquisition_interface</h1>

<% form_for(@acquisition_interface) do |f| %>
   f.error_messages 

  <p>
    <%= f.label :library %><br />
    <%= f.text_area :library %>
  </p>
  <p>
    <%= f.label :acquire_data %><br />
    <%= f.text_area :acquire_data %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @acquisition_interface %> |
<%= link_to 'Back', acquisition_interfaces_path %>
