<h1>Editing acquisition_interface</h1>
 <%= render :partial =>"shared/error_messages.html.erb", :locals => { :record => @acquisition_interface } %>


<%= render :partial => 'ruby_interfaces/form', :locals => { :ruby_interface => @acquisition_interface } %>

<%= link_to 'Show', @acquisition_interface %> |
<%= link_to 'Back', acquisition_interfaces_path %>


<p>
  <b>Sceme:</b>
  <%=h @acquisition_interface.scheme %>
</p>
