<h1>Editing acquisition_interface</h1>

<%= form_for(@acquisition_interface) do |f| %>
   f.error_messages 
<p>
  <%=  f.label :Id %><br />
  <%=h  f.text_field :id%>
</p>
<p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
</p>

  <p>
    <%= f.label :library %><br />
    <%= f.text_field :library %>
  </p>
<table border=1>
	<TR>
	<th><%= f.label :acquire_data %></th>
	<th><%= f.label :return_error_code %></th>
	<th><%= f.label :rescue_code %></th>
	<TR>
	</tr>
     	<td><%= f.text_area :acquire_data %></td>
     	<td>    <%= f.text_area :return_error_code %></td>
     	<td>    <%= f.text_area :rescue_code %></td>
	</tr>
</p>
  <p>
    <%= f.submit "Update" %>
  </p>

<% end %>

<%= link_to 'Show', @acquisition_interface %> |
<%= link_to 'Back', acquisition_interfaces_path %>


<p>
  <b>Sceme:</b>
  <%=h @acquisition_interface.scheme %>
</p>

<p>
  <b>Acquisition Class Name:</b>
  <%=h @acquisition_interface.acquisition_class_name %>
</p>


