<h1>Listing acquisition_interfaces</h1>

<table border=1>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>scheme</th>
    <th>Library</th>
    <th>Acquire code</th>
    <th>return_error_code</th>
    <th>rescue_code</th>
  </tr>

<% for acquisition_interface in @acquisition_interfaces %>
  <tr>
    <td><%=h acquisition_interface.id %></td>
    <td><%=h acquisition_interface.name %></td>
    <td><%=h acquisition_interface.scheme %></td>
    <td><%=h acquisition_interface.library %></td>
    <td><%=h acquisition_interface.acquire_data %></td>
    <td><%=h acquisition_interface.return_error_code %></td>
    <td><%=h acquisition_interface.rescue_code %></td>
    <td><%= link_to 'Show', acquisition_interface %></td>
    <td><%= link_to 'Edit', edit_acquisition_interface_path(acquisition_interface) %></td>
    <td><%= link_to 'Destroy', acquisition_interface, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New acquisition_interface', new_acquisition_interface_path %>
