 <%= render :partial =>"shared/error_messages.html.erb", :locals => { :record => @acquisition_interface } %>

<%= render :partial =>'ruby_interfaces/show_partial', :locals => { :@ruby_interface => @acquisition_interface } %>
<p>
  <b>Id:</b>
  <%=h @acquisition_interface.id %>
</p>


<p>
  <b>Sceme:</b>
  <%=h @acquisition_interface.scheme %>
</p>

<p>
  <b>Inspect :</b>
  <%=h @acquisition_interface.inspect %>
</p>

<p>
  <b>logical_primary_key:</b>
  <%=h @acquisition_interface.logical_primary_key %>
</p>

<%= link_to 'Edit', edit_acquisition_interface_path(@acquisition_interface) %> |
<%= link_to 'Back', acquisition_interfaces_path %>
<%= render :partial =>'acquisition_stream_specs/index_partial', :locals => { :@acquisition_stream_specs => @acquisition_interface.acquisition_stream_specs } %>
<h1>Listing acquisition_stream_specs</h1>

<table border=1>
  <tr>
     <th>Acquisition interface Id</th>
    <th>Table spec</th>
    <th>Required order</th>
	<th>Acquisition</th>
     <th>scheme From Interface</th>
   <th>Url</th>
</tr>


<% @acquisition_stream_specs=AcquisitionStreamSpec.all %>
<% for acquisition_stream_spec in @acquisition_interface.acquisition_stream_specs %>
  <tr>
    <td>< %=h acquisition_stream_spec.associated_to_s(:acquisition_interface,:name) %></td>
    <td>< %=h acquisition_stream_spec.display_model_class_name %></td>
    <td><%=h acquisition_stream_spec.required_order %></td>
     <td><%=h acquisition_stream_spec.acquire.display %></td>
     <td><%=h acquisition_stream_spec.schemeFromInterface %></td>
   <td><%=h acquisition_stream_spec.url %></td>
   <td><%= link_to 'Show', acquisition_stream_spec %></td>
    <td><%= link_to 'Edit', edit_acquisition_stream_spec_path(acquisition_stream_spec) %></td>
    <td><%= link_to 'Destroy', acquisition_stream_spec, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New acquisition_stream_spec', new_acquisition_stream_spec_path %>
