<p>
  <b>Id:</b>
  <%=h @acquisition_interface.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @acquisition_interface.name %>
</p>

<p>
  <b>Sceme:</b>
  <%=h @acquisition_interface.scheme %>
</p>

<p>
  <b>Acquisition Class Name:</b>
  <%=h @acquisition_interface.acquisition_class_name %>
</p>

<p>
  <b>Library:</b>
  <%=h @acquisition_interface.library %>
</p>

<p>
  <b>Acquire data:</b>
  <%=h @acquisition_interface.acquire_data %>
</p>

<P>

<%=link_to "Associations Guide", "http://guides.rubyonrails.org/association_basics.html",:target => "_blank" %>
</P>
<p>
  <b> return_error_code:</b>
  <%=h @acquisition_interface. return_error_code %>
</p>

<p>
  <b>rescue_code:</b>
  <%=h @acquisition_interface.rescue_code %>
</p>

<%= link_to 'Edit', edit_acquisition_interface_path(@acquisition_interface) %> |
<%= link_to 'Back', acquisition_interfaces_path %>

<h1>Listing acquisition_stream_specs</h1>

<table border=1>
  <tr>
    <th>Id</th>
    <th>Acquisition interface</th>
     <th>Acquisition interface Id</th>
    <th>Url</th>
    <th>Table spec</th>
    <th>schemeFromInterface</th>
    <th>Required order</th>
  </tr>


<% @acquisition_stream_specs=AcquisitionStreamSpec.all %>
<% for acquisition_stream_spec in @acquisition_interface.acquisition_stream_specs %>
  <tr>
    <td><%=h acquisition_stream_spec.id %></td>
    <td><%=h acquisition_stream_spec.acquisition_interface %></td>
    <td><%=h acquisition_stream_spec.acquisition_interface_id %></td>
    <td><%=h acquisition_stream_spec.url %></td>
    <td><%=h acquisition_stream_spec.table_spec_id %></td>
    <td><%=h acquisition_stream_spec.schemeFromInterface %></td>
    <td><%=h acquisition_stream_spec.required_order %></td>
    <td><%= link_to 'Show', acquisition_stream_spec %></td>
    <td><%= link_to 'Edit', edit_acquisition_stream_spec_path(acquisition_stream_spec) %></td>
    <td><%= link_to 'Destroy', acquisition_stream_spec, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New acquisition_stream_spec', new_acquisition_stream_spec_path %>
