<h1>Listing huelseries</h1>

<table>
  <tr>
    <th>Show</th>
    <th>Name</th>
    <th>Id</th>
    <th>Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @huelseries.each do |huelseries| %>
  <tr>
    <td><%= huelseries.show %></td>
    <td><%= huelseries.name %></td>
    <td><%= huelseries.id %></td>
    <td><%= huelseries.number %></td>
    <td><%= link_to 'Show', huelseries %></td>
    <td><%= link_to 'Edit', edit_huelseries_path(huelseries) %></td>
    <td><%= link_to 'Destroy', huelseries, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Huelserie', new_huelseries_path %>
