<p id="notice"><%= notice %></p>

<p>
  <b>Show:</b>
  <%= @huelseries.show %>
</p>

<p>
  <b>Name:</b>
  <%= @huelseries.name %>
</p>

<p>
  <b>Id:</b>
  <%= @huelseries.id %>
</p>

<p>
  <b>Number:</b>
  <%= @huelseries.number %>
</p>


<%= link_to 'Edit', edit_huelseries_path(@huelseries) %> |
<%= link_to 'Back', huelseries_path %>
