 <%= render :partial =>"shared/error_messages.html.erb", :locals => { :record => @ruby_interface } %>
 <% form_for @ruby_interface do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :library %><br />
    <%= f.text_field :library %>
  </div>
<table border=1>
	<TR>
	<th><%= f.label :interface_code %></th>
	<th><%= f.label :return_code %></th>
	<th><%= f.label :rescue_code %></th>
	<TR>
	</tr>
     	<td><%= f.text_area :interface_code %></td>
     	<td>    <%= f.text_area :return_code %></td>
     	<td>    <%= f.text_area :rescue_code %></td>
	</tr>
<% end %>
 <% semantic_form_for @ruby_interface do |form| %>
    <%= form.buttons %>
<% end %>

 <% semantic_form_for @ruby_interface do |form| %>
  <div class="field">
    <%= form.label :type %><br />
    <%= form.text_field :type %>
  </div>
<p>
  <%=  form.label :Id %><br />
  <%=h  form.text_field :id%>
</p>
  <% end %>
