 <%= form_for @ruby_interface do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :library %><br />
    <%= f.text_field :library %>
  </div>
<table border=1>
	<TR>
	<th><%= f.label :interface_code%></th>
	<th><%= f.label :return_code %></th>
	<th><%= f.label :rescue_code %></th>
	<TR>
	</tr>
	<% max_rows=[@ruby_interface.interface_code_rows,@ruby_interface.return_code_rows,@ruby_interface.rescue_code_rows].max %>
     	<td><%= f.text_area :interface_code,:rows=>max_rows,:cols=>[@ruby_interface.interface_code_cols+2,20].max %></td>
     	<td>   <%= f.text_area :return_code,:rows=>max_rows,:cols=>[@ruby_interface.return_code_cols+2,20].max %></td>
     	<td>   <%= f.text_area :rescue_code,:rows=>max_rows,:cols=>[@ruby_interface.rescue_code_cols+2,20].max %></td>
	</tr>
<% end %>
 <%= semantic_form_for @ruby_interface do |form| %>
    <%= form.buttons %>
<% end %>

 <%= semantic_form_for @ruby_interface do |form| %>
  <div class="field">
    <%= form.label :type %><br />
    <%= form.text_field :type %>
  </div>
<p>
  <%=  form.label :Id %><br />
  <%=h  form.text_field :id%>
</p>
  <% end %>
