<h1>Editing table_spec</h1>

<% form_for(@table_spec) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :merge %><br />
	<%= select_tag(:merge,options_for_select([['row', 1], ['rows', 2], ['table', 3]], 2)) %>
    <%= f.text_field :merge %>
  </p>
  <p>
    <%= f.label :file_caching %><br />
    <%= f.text_field :file_caching %>
  </p>
  <p>
    <%= f.label :model_class_name %><br />
    <%= f.text_field :model_class_name %>
  </p>
  <p>
    <%= f.label :frequency_id %><br />

	<%= select_tag(:frequency_id,options_from_collection_for_select(Frequency.all, :id, :frequency_name)) %>
	<% frequencies_array = Frequency.all.map { |frequency| [frequency.frequency_name, frequency.id] } %>
	<%= select_tag(:frequency_id, options_for_select(frequencies_array)) %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @table_spec %> |
<%= link_to 'Back', table_specs_path %>
