<h1>Listing table_specs</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Merge</th>
    <th>File caching</th>
    <th>Model class name</th>
    <th>Frequency</th>
  </tr>

<% for table_spec in @table_specs %>
  <tr>
    <td><%=h table_spec.id %></td>
    <td><%=h table_spec.merge %></td>
    <td><%=h table_spec.file_caching %></td>
    <td><%=h table_spec.model_class_name %></td>
    <td><%=h table_spec.frequency_id %></td>
    <td><%= link_to 'Show', table_spec %></td>
    <td><%= link_to 'Edit', edit_table_spec_path(table_spec) %></td>
    <td><%= link_to 'Destroy', table_spec, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New table_spec', new_table_spec_path %>
