<h1>Listing measurements</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Load measurement</th>
    <th>Load</th>
    <th>Power factor</th>
    <th>Period</th>
    <th>Duty cycle measurement</th>
    <th>Duty cycle</th>
    <th>Load</th>
    <th>Mode</th>
    <th>Va</th>
  </tr>

<% for measurement in @measurements %>
  <tr>
    <td><%=h measurement.description %></td>
    <td><%=h measurement.load_measurement %></td>
    <td><%=h measurement.load %></td>
    <td><%=h measurement.power_factor %></td>
    <td><%=h measurement.period %></td>
    <td><%=h measurement.duty_cycle_measurement %></td>
    <td><%=h measurement.duty_cycle %></td>
    <td><%=h measurement.load_id %></td>
    <td><%=h measurement.mode %></td>
    <td><%=h measurement.va %></td>
    <td><%= link_to 'Show', measurement %></td>
    <td><%= link_to 'Edit', edit_measurement_path(measurement) %></td>
    <td><%= link_to 'Destroy', measurement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New measurement', new_measurement_path %>
