<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @huelshow.name %>
</p>

<p>
  <b>Shortname:</b>
  <%= @huelshow.shortname %>
</p>

<p>
  <b>Id:</b>
  <%= @huelshow.id %>
</p>


<%= link_to 'Edit', edit_huelshow_path(@huelshow) %> |
<%= link_to 'Back', huelshows_path %>
