<h1>Listing test_runs</h1>

<table>
  <tr>
    <th>Model</th>
    <th>Test</th>
    <th>Test type</th>
    <th>Environment</th>
    <th>Tests</th>
    <th>Assertions</th>
    <th>Failures</th>
    <th>Errors</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_runs.each do |test_run| %>
  <tr>
    <td><%= test_run.model %></td>
    <td><%= test_run.test %></td>
    <td><%= test_run.test_type %></td>
    <td><%= test_run.environment %></td>
    <td><%= test_run.tests %></td>
    <td><%= test_run.assertions %></td>
    <td><%= test_run.failures %></td>
    <td><%= test_run.errors %></td>
    <td><%= link_to 'Show', test_run %></td>
    <td><%= link_to 'Edit', edit_test_run_path(test_run) %></td>
    <td><%= link_to 'Destroy', test_run, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test run', new_test_run_path %>
