<p id="notice"><%= notice %></p>

<p>
  <b>Model:</b>
  <%= @test_run.model %>
</p>

<p>
  <b>Test:</b>
  <%= @test_run.test %>
</p>

<p>
  <b>Test type:</b>
  <%= @test_run.test_type %>
</p>

<p>
  <b>Environment:</b>
  <%= @test_run.environment %>
</p>

<p>
  <b>Tests:</b>
  <%= @test_run.tests %>
</p>

<p>
  <b>Assertions:</b>
  <%= @test_run.assertions %>
</p>

<p>
  <b>Failures:</b>
  <%= @test_run.failures %>
</p>

<p>
  <b>Errors:</b>
  <%= @test_run.errors %>
</p>


<%= link_to 'Edit', edit_test_run_path(@test_run) %> |
<%= link_to 'Back', test_runs_path %>
