<h1>Listing bugs</h1>

<table border=1>
  <tr>
    <th>Gui</th>
    <th>Url</th>
    <th>Error</th>
    <th>Context</th>
    <th>Resolution</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bugs.each do |bug| %>
  <tr>
    <td><%= bug.gui %></td>
    <td><%= bug.url %></td>
    <td><%= bug.error %></td>
    <td><%= bug.context %></td>
    <td><%= bug.resolution %></td>
    <td><%= link_to 'Show', bug %></td>
    <td><%= link_to 'Edit', edit_bug_path(bug) %></td>
    <td><%= link_to 'Destroy', bug, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bug', new_bug_path %>
