<p id="notice"><%= notice %></p>

<p>
  <b>Gui:</b>
  <%= @bug.gui %>
</p>

<p>
  <b>Url:</b>
  <%= @bug.url %>
</p>

<p>
  <b>Error:</b>
  <%= @bug.error %>
</p>

<p>
  <b>Context:</b>
  <%= @bug.context %>
</p>

<p>
  <b>Resolution:</b>
  <%= @bug.resolution %>
</p>


<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
