<p id="notice"><%= notice %></p>
 <%= render :partial =>"shared/error_messages.html.erb", :locals => { :record => @stream_pattern } %>
<p>
  <b>Name:</b>
  <%= @stream_pattern.name %>
</p>


<%= link_to 'Edit', edit_stream_pattern_path(@stream_pattern) %> |
<%= link_to 'Back', stream_patterns_path %>
