<p id="notice"><%= notice %></p>
 <%= render :partial =>"shared/error_messages.html.erb", :locals => { :record => @stream_pattern } %>
<p>
  <b>Id:</b>
  <%= @stream_pattern.id.class.name %>
  <%= @stream_pattern.id.inspect %>
</p>
<%= render :partial =>'stream_patterns/show_partial', :locals => { :@stream_pattern => @stream_pattern } %>
<% if Generic_Table.is_generic_table?(@stream_pattern.class.name) then %>
<% if @stream_pattern.association_has_data(:stream_pattern_arguments) then %>
<%= render :partial =>'stream_pattern_arguments/index_partial', :locals => { :@stream_pattern_arguments => @stream_pattern.stream_pattern_arguments } %>
<% else %>
<p>
  <b>@stream_pattern.class.is_matching_association?(:stream_pattern_arguments):</b>
  < %= @stream_pattern.class.is_matching_association?(:stream_pattern_arguments) %>
</p>
<p>
  <b>@stream_pattern.class.association_to_type(:stream_pattern_arguments):</b>
  <%= @stream_pattern.class.association_to_type(:stream_pattern_arguments) %>
</p>
<p>
  <b>@stream_pattern.class.association_macro_type(:stream_pattern_arguments):</b>
  <%= @stream_pattern.class.association_macro_type(:stream_pattern_arguments) %>
</p>
<p>
  <b>@stream_pattern.class.association_type(:stream_pattern_arguments):</b>
  <%= @stream_pattern.class.association_type(:stream_pattern_arguments) %>
</p>
<p>
  <b>@stream_pattern.association_state(:stream_pattern_arguments):</b>
  <%= @stream_pattern.association_state(:stream_pattern_arguments) %>
</p>

<% if StreamMethodArgument.find_all_by_stream_pattern_id(@stream_pattern.id ) then %>
<H1><B>No data in associaton. Listing all data of model with matching Id.</B></H1>
<%= render :partial =>'stream_pattern_arguments/index_partial', :locals => { :@stream_pattern_arguments => StreamMethodArgument.find_all_by_stream_pattern_id(@stream_pattern.id ) } %>
<% else %>
<H1><B>No data in associaton. Listing all data of model.</B></H1>
<%= render :partial =>'stream_pattern_arguments/index_partial', :locals => { :@stream_pattern_arguments => StreamMethodArgument.all } %>
<% end #if %>
<%= @stream_pattern.stream_pattern_arguments.inspect  %>
<P>@stream_pattern.class.association_names=
<%= @stream_pattern.class.association_names.inspect %>
<P> system(@stream_pattern.class.association_grep('has_many',:stream_pattern_arguments)) 
<%= system(@stream_pattern.class.association_grep('has_many',:stream_pattern_arguments)) %>
<P> system(StreamMethodArgument.association_grep('belongs_to',:stream_patterns)) 
<%= system(StreamMethodArgument.association_grep('belongs_to',:stream_patterns)) %>
<% end #if %>
<% end #if %>
