<%= form_for(@production_ftp) do |f| %>
  <% if @production_ftp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@production_ftp.errors.count, "error") %> prohibited this production_ftp from being saved:</h2>

      <ul>
      <% @production_ftp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% semantic_form_for @production_ftp do |form| %>
    <%= form.inputs %>
    <%= form.buttons %>
  <% end %>

  <div class="field">
    <%= f.label :timestamp %><br />
    <%= f.time_select :timestamp %>
  </div>
  <div class="field">
    <%= f.label :backup_state %><br />
    <%= f.text_field :backup_state %>
  </div>
  <div class="field">
    <%= f.label :co2_saved %><br />
    <%= f.text_field :co2_saved %>
  </div>
  <div class="field">
    <%= f.label :error %><br />
    <%= f.text_field :error %>
  </div>
  <div class="field">
    <%= f.label :e_total %><br />
    <%= f.text_field :e_total %>
  </div>
  <div class="field">
    <%= f.label :fac %><br />
    <%= f.text_field :fac %>
  </div>
  <div class="field">
    <%= f.label :grid_type %><br />
    <%= f.text_field :grid_type %>
  </div>
  <div class="field">
    <%= f.label :h_on %><br />
    <%= f.text_field :h_on %>
  </div>
  <div class="field">
    <%= f.label :h_total %><br />
    <%= f.text_field :h_total %>
  </div>
  <div class="field">
    <%= f.label :iac %><br />
    <%= f.text_field :iac %>
  </div>
  <div class="field">
    <%= f.label :ipv %><br />
    <%= f.text_field :ipv %>
  </div>
  <div class="field">
    <%= f.label :mode %><br />
    <%= f.text_field :mode %>
  </div>
  <div class="field">
    <%= f.label :pac %><br />
    <%= f.text_field :pac %>
  </div>
  <div class="field">
    <%= f.label :power_on %><br />
    <%= f.text_field :power_on %>
  </div>
  <div class="field">
    <%= f.label :serial_number %><br />
    <%= f.text_field :serial_number %>
  </div>
  <div class="field">
    <%= f.label :temperature %><br />
    <%= f.text_field :temperature %>
  </div>
  <div class="field">
    <%= f.label :vac %><br />
    <%= f.text_field :vac %>
  </div>
  <div class="field">
    <%= f.label :vpv %><br />
    <%= f.text_field :vpv %>
  </div>
  <div class="field">
    <%= f.label :Date %><br />
    <%= f.date_select :Date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
