<p id="notice"><%= notice %></p>

<p>
  <b>Timestamp:</b>
  <%= @production_ftp.timestamp %>
</p>

<p>
  <b>Backup state:</b>
  <%= @production_ftp.backup_state %>
</p>

<p>
  <b>Co2 saved:</b>
  <%= @production_ftp.co2_saved %>
</p>

<p>
  <b>Error:</b>
  <%= @production_ftp.error %>
</p>

<p>
  <b>E total:</b>
  <%= @production_ftp.e_total %>
</p>

<p>
  <b>Fac:</b>
  <%= @production_ftp.fac %>
</p>

<p>
  <b>Grid type:</b>
  <%= @production_ftp.grid_type %>
</p>

<p>
  <b>H on:</b>
  <%= @production_ftp.h_on %>
</p>

<p>
  <b>H total:</b>
  <%= @production_ftp.h_total %>
</p>

<p>
  <b>Iac:</b>
  <%= @production_ftp.iac %>
</p>

<p>
  <b>Ipv:</b>
  <%= @production_ftp.ipv %>
</p>

<p>
  <b>Mode:</b>
  <%= @production_ftp.mode %>
</p>

<p>
  <b>Pac:</b>
  <%= @production_ftp.pac %>
</p>

<p>
  <b>Power on:</b>
  <%= @production_ftp.power_on %>
</p>

<p>
  <b>Serial number:</b>
  <%= @production_ftp.serial_number %>
</p>

<p>
  <b>Temperature:</b>
  <%= @production_ftp.temperature %>
</p>

<p>
  <b>Vac:</b>
  <%= @production_ftp.vac %>
</p>

<p>
  <b>Vpv:</b>
  <%= @production_ftp.vpv %>
</p>

<p>
  <b>Date:</b>
  <%= @production_ftp.Date %>
</p>


<%= link_to 'Edit', edit_production_ftp_path(@production_ftp) %> |
<%= link_to 'Back', production_ftps_path %>
