<h1>Editing transfer</h1>
<%= render 'form' %>

<%= semantic_form_for @transfer do |f| %>
  <%= f.semantic_errors %>
<% end %>

<%= link_to 'Show', @transfer %> |
<%= link_to 'Back', transfers_path %>
