<h1>Editing transfer</h1>

<% form_for(@transfer) do |f| %>
  <%= f.error_messages %>

  <p>
    < %= f.label :account_id % ><br />
	<%= f.select(:account_id,options_from_collection_for_select(Account.all, :id, :name)) %>

  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :posted %><br />
    <%= f.date_select :posted %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @transfer %> |
<%= link_to 'Back', transfers_path %>
