<h1>New transfer</h1>

<% form_for(@transfer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :account %><br />
    <%= f.text_field :account %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :posted %><br />
    <%= f.date_select :posted %>
  </p>
  
  	<%= select_tag(:account_id,options_from_collection_for_select(Account.all, :id, :name)) %>
	<% accounts_array = Account.all.map { |a| [a.name, a.id] } %>
	<%= select_tag(:account_id, options_for_select(accounts_array)) %>

  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', transfers_path %>
