<p>
  <b>Account:</b>
  <%=h @transfer.account %>
</p>

<p>
  <b>Amount:</b>
  <%=h @transfer.amount %>
</p>

<p>
  <b>Posted:</b>
  <%=h @transfer.posted %>
</p>


<%= link_to 'Edit', edit_transfer_path(@transfer) %> |
<%= link_to 'Back', transfers_path %>
