<h1>Editing weather</h1>
  <% semantic_form_for @weather do |form| %>
    <%= form.inputs %>
    <%= form.buttons %>
  <% end %>

<% form_for(@weather) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :khhr_observation_time_rfc822 %><br />
    <%= f.text_field :khhr_observation_time_rfc822 %>
  </p>
  <p>
    <%= f.label :khhr_weather %><br />
    <%= f.text_field :khhr_weather %>
  </p>
  <p>
    <%= f.label :khhr_temperature_string %><br />
    <%= f.text_field :khhr_temperature_string %>
  </p>
  <p>
    <%= f.label :khhr_temp_f %><br />
    <%= f.text_field :khhr_temp_f %>
  </p>
  <p>
    <%= f.label :khhr_temp_c %><br />
    <%= f.text_field :khhr_temp_c %>
  </p>
  <p>
    <%= f.label :khhr_relative_humidity %><br />
    <%= f.text_field :khhr_relative_humidity %>
  </p>
  <p>
    <%= f.label :khhr_wind_string %><br />
    <%= f.text_field :khhr_wind_string %>
  </p>
  <p>
    <%= f.label :khhr_wind_dir %><br />
    <%= f.text_field :khhr_wind_dir %>
  </p>
  <p>
    <%= f.label :khhr_wind_degrees %><br />
    <%= f.text_field :khhr_wind_degrees %>
  </p>
  <p>
    <%= f.label :khhr_wind_mph %><br />
    <%= f.text_field :khhr_wind_mph %>
  </p>
  <p>
    <%= f.label :khhr_wind_kt %><br />
    <%= f.text_field :khhr_wind_kt %>
  </p>
  <p>
    <%= f.label :khhr_pressure_string %><br />
    <%= f.text_field :khhr_pressure_string %>
  </p>
  <p>
    <%= f.label :khhr_pressure_mb %><br />
    <%= f.text_field :khhr_pressure_mb %>
  </p>
  <p>
    <%= f.label :khhr_pressure_in %><br />
    <%= f.text_field :khhr_pressure_in %>
  </p>
  <p>
    <%= f.label :khhr_dewpoint_string %><br />
    <%= f.text_field :khhr_dewpoint_string %>
  </p>
  <p>
    <%= f.label :khhr_dewpoint_f %><br />
    <%= f.text_field :khhr_dewpoint_f %>
  </p>
  <p>
    <%= f.label :khhr_dewpoint_c %><br />
    <%= f.text_field :khhr_dewpoint_c %>
  </p>
  <p>
    <%= f.label :khhr_visibility_mi %><br />
    <%= f.text_field :khhr_visibility_mi %>
  </p>
  <p>
    <%= f.label :klax_observation_time_rfc822 %><br />
    <%= f.text_field :klax_observation_time_rfc822 %>
  </p>
  <p>
    <%= f.label :klax_weather %><br />
    <%= f.text_field :klax_weather %>
  </p>
  <p>
    <%= f.label :klax_temperature_string %><br />
    <%= f.text_field :klax_temperature_string %>
  </p>
  <p>
    <%= f.label :klax_temp_f %><br />
    <%= f.text_field :klax_temp_f %>
  </p>
  <p>
    <%= f.label :klax_temp_c %><br />
    <%= f.text_field :klax_temp_c %>
  </p>
  <p>
    <%= f.label :klax_relative_humidity %><br />
    <%= f.text_field :klax_relative_humidity %>
  </p>
  <p>
    <%= f.label :klax_wind_string %><br />
    <%= f.text_field :klax_wind_string %>
  </p>
  <p>
    <%= f.label :klax_wind_dir %><br />
    <%= f.text_field :klax_wind_dir %>
  </p>
  <p>
    <%= f.label :klax_wind_degrees %><br />
    <%= f.text_field :klax_wind_degrees %>
  </p>
  <p>
    <%= f.label :klax_wind_mph %><br />
    <%= f.text_field :klax_wind_mph %>
  </p>
  <p>
    <%= f.label :klax_wind_kt %><br />
    <%= f.text_field :klax_wind_kt %>
  </p>
  <p>
    <%= f.label :klax_pressure_string %><br />
    <%= f.text_field :klax_pressure_string %>
  </p>
  <p>
    <%= f.label :klax_pressure_mb %><br />
    <%= f.text_field :klax_pressure_mb %>
  </p>
  <p>
    <%= f.label :klax_pressure_in %><br />
    <%= f.text_field :klax_pressure_in %>
  </p>
  <p>
    <%= f.label :klax_dewpoint_string %><br />
    <%= f.text_field :klax_dewpoint_string %>
  </p>
  <p>
    <%= f.label :klax_dewpoint_f %><br />
    <%= f.text_field :klax_dewpoint_f %>
  </p>
  <p>
    <%= f.label :klax_dewpoint_c %><br />
    <%= f.text_field :klax_dewpoint_c %>
  </p>
  <p>
    <%= f.label :klax_visibility_mi %><br />
    <%= f.text_field :klax_visibility_mi %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @weather %> |
<%= link_to 'Back', weathers_path %>
