<p>
  <b>Khhr observation time rfc822:</b>
  <%=h @weather.khhr_observation_time_rfc822 %>
</p>

<p>
  <b>Khhr weather:</b>
  <%=h @weather.khhr_weather %>
</p>

<p>
  <b>Khhr temperature string:</b>
  <%=h @weather.khhr_temperature_string %>
</p>

<p>
  <b>Khhr temp f:</b>
  <%=h @weather.khhr_temp_f %>
</p>

<p>
  <b>Khhr temp c:</b>
  <%=h @weather.khhr_temp_c %>
</p>

<p>
  <b>Khhr relative humidity:</b>
  <%=h @weather.khhr_relative_humidity %>
</p>

<p>
  <b>Khhr wind string:</b>
  <%=h @weather.khhr_wind_string %>
</p>

<p>
  <b>Khhr wind dir:</b>
  <%=h @weather.khhr_wind_dir %>
</p>

<p>
  <b>Khhr wind degrees:</b>
  <%=h @weather.khhr_wind_degrees %>
</p>

<p>
  <b>Khhr wind mph:</b>
  <%=h @weather.khhr_wind_mph %>
</p>

<p>
  <b>Khhr wind kt:</b>
  <%=h @weather.khhr_wind_kt %>
</p>

<p>
  <b>Khhr pressure string:</b>
  <%=h @weather.khhr_pressure_string %>
</p>

<p>
  <b>Khhr pressure mb:</b>
  <%=h @weather.khhr_pressure_mb %>
</p>

<p>
  <b>Khhr pressure in:</b>
  <%=h @weather.khhr_pressure_in %>
</p>

<p>
  <b>Khhr dewpoint string:</b>
  <%=h @weather.khhr_dewpoint_string %>
</p>

<p>
  <b>Khhr dewpoint f:</b>
  <%=h @weather.khhr_dewpoint_f %>
</p>

<p>
  <b>Khhr dewpoint c:</b>
  <%=h @weather.khhr_dewpoint_c %>
</p>

<p>
  <b>Khhr visibility mi:</b>
  <%=h @weather.khhr_visibility_mi %>
</p>

<p>
  <b>Klax observation time rfc822:</b>
  <%=h @weather.klax_observation_time_rfc822 %>
</p>

<p>
  <b>Klax weather:</b>
  <%=h @weather.klax_weather %>
</p>

<p>
  <b>Klax temperature string:</b>
  <%=h @weather.klax_temperature_string %>
</p>

<p>
  <b>Klax temp f:</b>
  <%=h @weather.klax_temp_f %>
</p>

<p>
  <b>Klax temp c:</b>
  <%=h @weather.klax_temp_c %>
</p>

<p>
  <b>Klax relative humidity:</b>
  <%=h @weather.klax_relative_humidity %>
</p>

<p>
  <b>Klax wind string:</b>
  <%=h @weather.klax_wind_string %>
</p>

<p>
  <b>Klax wind dir:</b>
  <%=h @weather.klax_wind_dir %>
</p>

<p>
  <b>Klax wind degrees:</b>
  <%=h @weather.klax_wind_degrees %>
</p>

<p>
  <b>Klax wind mph:</b>
  <%=h @weather.klax_wind_mph %>
</p>

<p>
  <b>Klax wind kt:</b>
  <%=h @weather.klax_wind_kt %>
</p>

<p>
  <b>Klax pressure string:</b>
  <%=h @weather.klax_pressure_string %>
</p>

<p>
  <b>Klax pressure mb:</b>
  <%=h @weather.klax_pressure_mb %>
</p>

<p>
  <b>Klax pressure in:</b>
  <%=h @weather.klax_pressure_in %>
</p>

<p>
  <b>Klax dewpoint string:</b>
  <%=h @weather.klax_dewpoint_string %>
</p>

<p>
  <b>Klax dewpoint f:</b>
  <%=h @weather.klax_dewpoint_f %>
</p>

<p>
  <b>Klax dewpoint c:</b>
  <%=h @weather.klax_dewpoint_c %>
</p>

<p>
  <b>Klax visibility mi:</b>
  <%=h @weather.klax_visibility_mi %>
</p>

<%= link_to 'Edit', edit_weather_path(@weather) %> |
<%= link_to 'Back', weathers_path %>
