<h1>Listing transactions</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Posted</th>
    <th>Payee</th>
    <th>Descrition</th>
    <th>From accont</th>
    <th>To account</th>
    <th>Amount</th>
    <th>Tax reporting</th>
  </tr>

<% for transaction in @transactions %>
  <tr>
    <td><%=h transaction.Date %></td>
    <td><%=h transaction.Posted %></td>
    <td><%=h transaction.Payee %></td>
    <td><%=h transaction.Descrition %></td>
    <td><%=h transaction.From_Accont %></td>
    <td><%=h transaction.To_Account %></td>
    <td><%=h transaction.Amount %></td>
    <td><%=h transaction.Tax_Reporting %></td>
    <td><%= link_to 'Show', transaction %></td>
    <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
    <td><%= link_to 'Destroy', transaction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New transaction', new_transaction_path %>
