<%= form_for(@stream_method_call) do |f| %>
  <% if @stream_method_call.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stream_method_call.errors.count, "error") %> prohibited this stream_method_call from being saved:</h2>

      <ul>
      <% @stream_method_call.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :stream_method_id %><br />
    <%= f.text_field :stream_method_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
