<h1>Listing stream_method_calls</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Stream method</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stream_method_calls.each do |stream_method_call| %>
  <tr>
    <td><%= stream_method_call.id %></td>
    <td><%= stream_method_call.stream_method_id %></td>
    <td><%= link_to 'Show', stream_method_call %></td>
    <td><%= link_to 'Edit', edit_stream_method_call_path(stream_method_call) %></td>
    <td><%= link_to 'Destroy', stream_method_call, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stream method call', new_stream_method_call_path %>
