<p id="notice"><%= notice %></p>

<p>
  <b>Model:</b>
  <%= @test.model %>
</p>

<p>
  <b>Test:</b>
  <%= @test.test %>
</p>

<p>
  <b>Test type:</b>
  <%= @test.test_type %>
</p>

<p>
  <b>Environment:</b>
  <%= @test.environment %>
</p>

<p>
  <b>Tests:</b>
  <%= @test.tests %>
</p>

<p>
  <b>Assertions:</b>
  <%= @test.assertions %>
</p>

<p>
  <b>Failures:</b>
  <%= @test.failures %>
</p>

<p>
  <b>Errors:</b>
  <%= @test.errors %>
</p>


<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
