<h1>Editing acquisition</h1>
 <% semantic_form_for @acquisition do |form| %>
    <%= form.inputs %>
    <%= form.buttons %>
  <% end %>

<% form_for(@acquisition) do |f| %>
  %= f.error_messages %

  <p>
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </p>
  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :acquisition_stream_spec_id %><br />
    <%= f.text_field :acquisition_stream_spec_id %>
  </p>
    <p>
    <%= f.label :acquisition_stream_spec_id %><br />
	<%= collection_select(:acquisition,:acquisition_stream_spec_id,Acquisition.all, :id, :url) %>
  </p>
  <p>
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </p>
  <p>
    <%= f.label :error %><br />
    <%= f.text_field :error %>
  </p>
  <p>
    <%= f.label :acquisition_updated %><br />
    <%= f.check_box :acquisition_updated %>
  </p>
   <p>
    <%= f.label :acquisition_data %><br />
    <%= f.text_area :acquisition_data %>
  </p>
 <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @acquisition %> |
<%= link_to 'Back', acquisitions_path %>
<% if @acquisition.association_state(:acquisition_stream_spec)!='Foreign key has value and does not return nil' then%>
 <%= h "@acquisition.acquisition_stream_spec=nil" %>
<% else %>
<% @acquisition_stream_spec=@acquisition.acquisition_stream_spec %>
<p>
  <b>Id:</b>
  <%=h @acquisition_stream_spec.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @acquisition_stream_spec.url %>
</p>

<p>
  <b>Sceme:</b>
  <%=h @acquisition_stream_spec.scheme %>
</p>
<% end #if %>
