<h1>Listing acquisitions</h1>

<table>
  <tr>
    <th>Acquisition data</th>
    <th>Created at</th>
    <th>Id</th>
    <th>Url</th>
    <th>Acquisition stream</th>
    <th>Error</th>
    <th>Acquisition updated</th>
  </tr>

<% for acquisition in @acquisitions %>
  <tr>
    <td><%=h acquisition.acquisition_data %></td>
    <td><%=h acquisition.created_at %></td>
    <td><%=h acquisition.id %></td>
    <td><%=h acquisition.url %></td>
    <td><%=h acquisition.acquisition_stream_id %></td>
    <td><%=h acquisition.error %></td>
    <td><%=h acquisition.acquisition_updated %></td>
    <td><%= link_to 'Show', acquisition %></td>
    <td><%= link_to 'Edit', edit_acquisition_path(acquisition) %></td>
    <td><%= link_to 'Destroy', acquisition, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New acquisition', new_acquisition_path %>
