<h1>New acquisition</h1>

<% form_for(@acquisition) do |f| %>
  <%= f.error_messages %>

    <p>
    <%= f.label :acquisition_stream_id %><br />
	<%= collection_select(:acquisition,:acquisition_stream_id,Acquisition.all, :id, :url) %>
  </p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', acquisitions_path %>
