<p>
  <b>Id:</b>
  <%=h @acquisition.id %>
</p>

<p>
  <b>Created at:</b>
  <%=h @acquisition.created_at %>
</p>

<p>
  <b>Acquisition stream_id:</b>
  <%=h @acquisition.acquisition_stream_spec_id %>
</p>

<p>
  <b>Url:</b>
  <%=h @acquisition.url %>
</p>


<p>
  <b>Error:</b>
  <%=h @acquisition.error %>
</p>

<p>
  <b>Acquisition updated:</b>
  <%=h @acquisition.acquisition_updated %>
</p>
<p>
  <b>Acquisition data:</b>
  <%=h @acquisition.acquisition_data %>
</p>


<%= link_to 'Edit', edit_acquisition_path(@acquisition) %> |
<%= link_to 'Back', acquisitions_path %>

<P>
<% @acquisition_stream_spec=@acquisition.asociatedAcquisitionStreamSpec %>
<% if !@acquisition_stream_spec.nil? then %>
<p>
  <b>Id:</b>
  <%=h @acquisition_stream_spec.id %>
</p>

<p>
  <b>Acquisition interface:</b>
  <%=h @acquisition_stream_spec.acquisition_interface %>
</p>

<p>
  <b>Url:</b>
  <%=h @acquisition_stream_spec.url %>
</p>

<p>
  <b>Table spec:</b>
  <%=h @acquisition_stream_spec.table_spec_id %>
</p>

<p>
  <b>Required order:</b>
  <%=h @acquisition_stream_spec.required_order %>
</p>

<p>
  <b>uriHash:</b>
  <%=h @acquisition_stream_spec.uriHash.inspect %>
</p>

<p>
  <b>scheme:</b>
  <%=h @acquisition_stream_spec.scheme %>
</p>

<p>
  <b>acquisition_interface:</b>
  <%=h @acquisition_stream_spec.acquisition_interface %>
</p>

<p>
  <b>consistantSchemes:</b>
  <%=h @acquisition_stream_spec.consistantSchemes %>
</p>

<%= link_to 'Edit', edit_acquisition_stream_spec_path(@acquisition_stream_spec) %> |
<%= link_to 'Back', acquisition_stream_specs_path %>

 <P><%= @acquisition_stream_spec.inspect %></P>
 
 <% @acquisition_interface=@acquisition_stream_spec.acquisition_interface %>
 <P><%= @acquisition_interface.inspect %></P>

<p>
  <b>Id:</b>
  <%=h @acquisition_interface.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @acquisition_interface.name %>
</p>

<p>
  <b>Sceme:</b>
  <%=h @acquisition_interface.scheme %>
</p>

<p>
  <b>Acquisition Class Name:</b>
  <%=h @acquisition_interface.acquisition_class_name %>
</p>

<p>
  <b>Library:</b>
  <%=h @acquisition_interface.library %>
</p>

<p>
  <b>Acquire data:</b>
  <%=h @acquisition_interface.acquire_data %>
</p>

<% end # if %>
