<h1>Listing accounts</h1>

<table border=1>
  <tr>
    <th>Account Id</th>
    <th>Name</th>
    <th>Parent</th>
    <th>Tax reporting</th>
    <th>Open Tax Solver Line</th>
    <th>Budgeting</th>
  </tr>
<% @accounts.each do |account| %>
  <tr>
    <td><%=h account.id %></td>
    <td><%=h account.name %></td>
    <td><%=h account.parent %></td>
    <td><%=h account.tax_reporting %></td>
    <td><%=h account.open_tax_solver_line %></td>
    <td><%=h account.budgeting %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New account', new_account_path %>
