<p>
  <b>Id:</b>
  <%=h @account.id %>
</p>
<p>
  <b>logical_primary_key:</b>
  <%=h @account.logical_primary_key %>
</p>
<p>
  <b>logical_primary_key==:created_at:</b>
  <%=h @account.logical_primary_key==:created_at %>
</p>

<p>
  <b>respond_to?(:logical_primary_key):</b>
  <%=h @account.respond_to?(:logical_primary_key)  %>
</p>
<p>
  <b>sequential_id?:</b>
  <%=h @account.sequential_id? %>
</p>
<p>
  <b>logical_primary_key_value:</b>
  <%=h @account.logical_primary_key_value %>
</p>

<p>
  <b>Name:</b>
  <%=h @account.name %>
</p>

<p>
  <b>Parent:</b>
  <%=h @account.parent %>
</p>

<p>
  <b>Tax reporting:</b>
  <%=h @account.tax_reporting %>
</p>
  <p>
	<b>Open Tax Solver Line:</b>
	<%=h @account.open_tax_solver_line %>
  </p>

<p>
  <b>Budgeting:</b>
  <%=h @account.budgeting %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
