<p>
  <b>Name:</b>
  <%=h @account.name %>
</p>

<p>
  <b>Parent:</b>
  <%=h @account.parent %>
</p>

<p>
  <b>Tax reporting:</b>
  <%=h @account.tax_reporting %>
</p>

<p>
  <b>Budgeting:</b>
  <%=h @account.budgeting %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
