<%= form_for(@stream_link) do |f| %>
  <% if @stream_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stream_link.errors.count, "error") %> prohibited this stream_link from being saved:</h2>

      <ul>
      <% @stream_link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :input_stream_method_call_id %><br />
    <%= f.text_field :input_stream_method_call_id %>
  </div>
  <div class="field">
    <%= f.label :output_stream_method_call_id %><br />
    <%= f.text_field :output_stream_method_call_id %>
  </div>
  <div class="field">
    <%= f.label :storage_method_id %><br />
    <%= f.text_field :storage_method_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
