<h1>Editing parameter</h1>
  <% semantic_form_for @parameter do |form| %>
    <%= form.inputs %>
    <%= form.buttons %>
  <% end %>

<% form_for(@parameter) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :parameter %><br />
    <%= f.text_field :parameter %>
  </p>
  <p>
    <%= f.label :import_type %><br />
    <%= f.text_field :import_type %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label :formula %><br />
    <%= f.text_field :formula %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @parameter %> |
<%= link_to 'Back', parameters_path %>
