<p>
  <b>Parameter:</b>
  <%=h @parameter.parameter %>
</p>

<p>
  <b>Import type:</b>
  <%=h @parameter.import_type %>
</p>

<p>
  <b>Value:</b>
  <%=h @parameter.value %>
</p>

<p>
  <b>Formula:</b>
  <%=h @parameter.formula %>
</p>


<%= link_to 'Edit', edit_parameter_path(@parameter) %> |
<%= link_to 'Back', parameters_path %>
